<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:simple="http://cxf.apache.org/simple"
	xmlns:soap="http://cxf.apache.org/bindings/soap"
	xsi:schemaLocation="  
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://cxf.apache.org/core     
    http://cxf.apache.org/schemas/core.xsd  
    http://cxf.apache.org/simple    
    http://cxf.apache.org/schemas/simple.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<simple:server id="emailServicews" serviceClass="com.ink.msgcenter.api.service.EmailService"
		address="/email">
		<simple:serviceBean>
			<bean class="com.ink.msgcenter.service.impl.EmailServiceImpl">
			</bean>
		</simple:serviceBean>
	</simple:server>
	
	<simple:server id="smsServicews" serviceClass="com.ink.msgcenter.api.service.SmsService"
		address="/sms">
		<simple:serviceBean>
			<bean class="com.ink.msgcenter.service.impl.SmsServiceImpl">
			</bean>
		</simple:serviceBean>
	</simple:server>
</beans>