<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AccBlack">
	<resultMap id="BaseResultMap" type="com.ink.user.core.po.AccBlack">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="open_date" property="openDate" jdbcType="DATE" />
		<result column="close_date" property="closeDate" jdbcType="DATE" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_update_time" property="lastUpdateTime"
			jdbcType="TIMESTAMP" />
		<result column="acc_id" property="accId" jdbcType="BIGINT" />
		<result column="acc_type_id" property="accTypeId" jdbcType="VARCHAR" />
		<result column="txn_code" property="txnCode" jdbcType="CHAR" />
		<result column="acc_deposit_type" property="accDepositType"
			jdbcType="CHAR" />
		<result column="black_why" property="blackWhy" jdbcType="VARCHAR" />
		<result column="black_start_date" property="blackStartDate"
			jdbcType="DATE" />
		<result column="black_end_date" property="blackEndDate"
			jdbcType="DATE" />
		<result column="black_start_time" property="blackStartTime"
			jdbcType="TIME" />
		<result column="black_end_time" property="blackEndTime"
			jdbcType="TIME" />
		<result column="black_type" property="blackType" jdbcType="CHAR" />
		<result column="access_ip" property="accessIp" jdbcType="VARCHAR" />
		<result column="uid" property="uid" jdbcType="BIGINT" />
		<result column="cust_name" property="custName" jdbcType="VARCHAR" />
		<result column="mbl_no" property="mblNo" jdbcType="VARCHAR" />
		<result column="id_no" property="idNo" jdbcType="BIGINT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, version, open_date, close_date, status, del_flag,
		create_time,
		last_update_time, acc_id, acc_type_id, txn_code, acc_deposit_type, black_why,
		black_start_date,
		black_end_date, black_start_time, black_end_time, black_type, access_ip,uid,cust_name,mbl_no,id_no
	</sql>
	
	<!-- 基础方法Start -->
	 <insert id="insert"  useGeneratedKeys="true" keyProperty="id"  >
    <![CDATA[
        INSERT INTO acc_black (
	        id  ,
	        version  ,
	        open_date  ,
	        close_date  ,
	        status  ,
	        del_flag  ,
	        create_time  ,
	        last_update_time  ,
	        acc_id  ,
	        acc_type_id  ,
	        txn_code  ,
	        acc_deposit_type  ,
	        black_why  ,
	        black_start_date  ,
	        black_end_date  ,
	        black_start_time  ,
	        black_end_time  ,
	        black_type  ,
	        access_ip  ,
	        uid  ,
	        cust_name  ,
	        mbl_no  ,
	        id_no  
        ) VALUES (
        	#{id, jdbcType=BIGINT} ,
        	#{version, jdbcType=INTEGER} ,
        	#{openDate, jdbcType=DATE} ,
        	#{closeDate, jdbcType=DATE} ,
        	#{status, jdbcType=INTEGER} ,
        	#{delFlag, jdbcType=BIT} ,
        	#{createTime, jdbcType=TIMESTAMP} ,
        	#{lastUpdateTime, jdbcType=TIMESTAMP} ,
        	#{accId, jdbcType=BIGINT} ,
        	#{accTypeId, jdbcType=VARCHAR} ,
        	#{txnCode, jdbcType=CHAR} ,
        	#{accDepositType, jdbcType=CHAR} ,
        	#{blackWhy, jdbcType=VARCHAR} ,
        	#{blackStartDate, jdbcType=DATE} ,
        	#{blackEndDate, jdbcType=DATE} ,
        	#{blackStartTime, jdbcType=TIME} ,
        	#{blackEndTime, jdbcType=TIME} ,
        	#{blackType, jdbcType=CHAR} ,
        	#{accessIp, jdbcType=VARCHAR} ,
        	#{uid, jdbcType=BIGINT} ,
        	#{custName, jdbcType=VARCHAR} ,
        	#{mblNo, jdbcType=VARCHAR} ,
        	#{idNo, jdbcType=VARCHAR} 
        )
    ]]>
    </insert>
   <insert id="insertBatch"   parameterType="java.util.List">
      INSERT INTO acc_black ( <include refid="Base_Column_List" />) values
        <foreach collection="list" item="item" separator="," >
    (
        	#{item.id, jdbcType=BIGINT} ,
        	#{item.version, jdbcType=INTEGER} ,
        	#{item.openDate, jdbcType=DATE} ,
        	#{item.closeDate, jdbcType=DATE} ,
        	#{item.status, jdbcType=INTEGER} ,
        	#{item.delFlag, jdbcType=BIT} ,
        	#{item.createTime, jdbcType=TIMESTAMP} ,
        	#{item.lastUpdateTime, jdbcType=TIMESTAMP} ,
        	#{item.accId, jdbcType=BIGINT} ,
        	#{item.accTypeId, jdbcType=VARCHAR} ,
        	#{item.txnCode, jdbcType=CHAR} ,
        	#{item.accDepositType, jdbcType=CHAR} ,
        	#{item.blackWhy, jdbcType=VARCHAR} ,
        	#{item.blackStartDate, jdbcType=DATE} ,
        	#{item.blackEndDate, jdbcType=DATE} ,
        	#{item.blackStartTime, jdbcType=TIME} ,
        	#{item.blackEndTime, jdbcType=TIME} ,
        	#{item.blackType, jdbcType=CHAR} ,
        	#{item.accessIp, jdbcType=VARCHAR} ,
        	#{item.uid, jdbcType=BIGINT} ,
        	#{item.custName, jdbcType=VARCHAR} ,
        	#{item.mblNo, jdbcType=VARCHAR} ,
        	#{item.idNo, jdbcType=VARCHAR} 
    )
        </foreach>
    </insert>

    <update id="update" >
    <![CDATA[
        UPDATE acc_black SET
	        version = #{version, jdbcType=INTEGER} ,
	        open_date = #{openDate, jdbcType=DATE} ,
	        close_date = #{closeDate, jdbcType=DATE} ,
	        status = #{status, jdbcType=INTEGER} ,
	        del_flag = #{delFlag, jdbcType=BIT} ,
	        create_time = #{createTime, jdbcType=TIMESTAMP} ,
	        last_update_time = #{lastUpdateTime, jdbcType=TIMESTAMP} ,
	        acc_id = #{accId, jdbcType=BIGINT} ,
	        acc_type_id = #{accTypeId, jdbcType=VARCHAR} ,
	        txn_code = #{txnCode, jdbcType=CHAR} ,
	        acc_deposit_type = #{accDepositType, jdbcType=CHAR} ,
	        black_why = #{blackWhy, jdbcType=VARCHAR} ,
	        black_start_date = #{blackStartDate, jdbcType=DATE} ,
	        black_end_date = #{blackEndDate, jdbcType=DATE} ,
	        black_start_time = #{blackStartTime, jdbcType=TIME} ,
	        black_end_time = #{blackEndTime, jdbcType=TIME} ,
	        black_type = #{blackType, jdbcType=CHAR} ,
	        access_ip = #{accessIp, jdbcType=VARCHAR} ,
	        uid = #{uid, jdbcType=BIGINT} ,
	        cust_name = #{custName, jdbcType=VARCHAR} ,
	        mbl_no = #{mblNo, jdbcType=VARCHAR} ,
	        id_no = #{idNo, jdbcType=VARCHAR} 
        WHERE 
	        id = #{id} 
    ]]>
    </update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM acc_black WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="BaseResultMap">
	    SELECT <include refid="Base_Column_List" />
	    <![CDATA[
	        FROM acc_black 
	        WHERE 
		        id = #{id} 
	    ]]>
    </select>

	<sql id="findWhere">
	    <where>
	    	<choose>
	    		<when test="queryType==0">
			       	<if test="null!=accTypeId and ''!=accTypeId ">
	   			 		AND acc_type_id = #{accTypeId}
	   			   	</if>
			       	<if test="null!=txnCode and ''!=txnCode ">
	   			 		AND txn_code = #{txnCode}
	   			   	</if>
			       	<if test="null!=accDepositType and ''!=accDepositType ">
	   			 		AND acc_deposit_type = #{accDepositType}
	   			   	</if>
			       	<if test="null!=blackWhy and ''!=blackWhy ">
	   			 		AND black_why = #{blackWhy}
	   			   	</if>
			       	<if test="null!=blackType and ''!=blackType ">
	   			 		AND black_type = #{blackType}
	   			   	</if>
			       	<if test="null!=accessIp and ''!=accessIp ">
	   			 		AND access_ip = #{accessIp}
	   			   	</if>
			       	<if test="null!=custName and ''!=custName ">
	   			 		AND cust_name = #{custName}
	   			   	</if>
			       	<if test="null!=mblNo and ''!=mblNo ">
	   			 		AND mbl_no = #{mblNo}
	   			   	</if>
			       	<if test="null!=idNo and ''!=idNo ">
	   			 		AND id_no = #{idNo}
	   			   	</if>
	       		</when>
	       		<otherwise>
				    <if test="null!=accTypeId and ''!=accTypeId">
				    <!-- 	AND acc_type_id LIKE '%'||#{accTypeId}||'%' oracle -->
			   			AND acc_type_id LIKE concat('%',#{accTypeId},'%')
			   			
			   		</if>
				    <if test="null!=txnCode and ''!=txnCode">
				    <!-- 	AND txn_code LIKE '%'||#{txnCode}||'%' oracle -->
			   			AND txn_code LIKE concat('%',#{txnCode},'%')
			   			
			   		</if>
				    <if test="null!=accDepositType and ''!=accDepositType">
				    <!-- 	AND acc_deposit_type LIKE '%'||#{accDepositType}||'%' oracle -->
			   			AND acc_deposit_type LIKE concat('%',#{accDepositType},'%')
			   			
			   		</if>
				    <if test="null!=blackWhy and ''!=blackWhy">
				    <!-- 	AND black_why LIKE '%'||#{blackWhy}||'%' oracle -->
			   			AND black_why LIKE concat('%',#{blackWhy},'%')
			   			
			   		</if>
				    <if test="null!=blackType and ''!=blackType">
				    <!-- 	AND black_type LIKE '%'||#{blackType}||'%' oracle -->
			   			AND black_type LIKE concat('%',#{blackType},'%')
			   			
			   		</if>
				    <if test="null!=accessIp and ''!=accessIp">
				    <!-- 	AND access_ip LIKE '%'||#{accessIp}||'%' oracle -->
			   			AND access_ip LIKE concat('%',#{accessIp},'%')
			   			
			   		</if>
				    <if test="null!=custName and ''!=custName">
				    <!-- 	AND cust_name LIKE '%'||#{custName}||'%' oracle -->
			   			AND cust_name LIKE concat('%',#{custName},'%')
			   			
			   		</if>
				    <if test="null!=mblNo and ''!=mblNo">
				    <!-- 	AND mbl_no LIKE '%'||#{mblNo}||'%' oracle -->
			   			AND mbl_no LIKE concat('%',#{mblNo},'%')
			   			
			   		</if>
				    <if test="null!=idNo and ''!=idNo">
				    <!-- 	AND id_no LIKE '%'||#{idNo}||'%' oracle -->
			   			AND id_no LIKE concat('%',#{idNo},'%')
			   			
			   		</if>
		        </otherwise>
	      	</choose>
		   	<if test="null!=id and ''!=id">
			    AND id = #{id}
			</if>
		   	<if test="null!=version and ''!=version">
			    AND version = #{version}
			</if>
		   	<if test="null!=openDateBegin and ''!=openDateBegin">
		   		AND open_date >= #{openDateBegin}
		   	</if>
		   	<if test="null!=openDateEnd and ''!=openDateEnd">
		   		AND open_date &lt; #{openDateEnd}
		   	</if>
		   	<if test="null!=closeDateBegin and ''!=closeDateBegin">
		   		AND close_date >= #{closeDateBegin}
		   	</if>
		   	<if test="null!=closeDateEnd and ''!=closeDateEnd">
		   		AND close_date &lt; #{closeDateEnd}
		   	</if>
		   	<if test="null!=status and ''!=status">
			    AND status = #{status}
			</if>
		   	<if test="null!=delFlag and ''!=delFlag">
			    AND del_flag = #{delFlag}
			</if>
		   	<if test="null!=createTimeBegin and ''!=createTimeBegin">
		   		AND create_time >= #{createTimeBegin}
		   	</if>
		   	<if test="null!=createTimeEnd and ''!=createTimeEnd">
		   		AND create_time &lt; #{createTimeEnd}
		   	</if>
		   	<if test="null!=lastUpdateTimeBegin and ''!=lastUpdateTimeBegin">
		   		AND last_update_time >= #{lastUpdateTimeBegin}
		   	</if>
		   	<if test="null!=lastUpdateTimeEnd and ''!=lastUpdateTimeEnd">
		   		AND last_update_time &lt; #{lastUpdateTimeEnd}
		   	</if>
		   	<if test="null!=accId and ''!=accId">
			    AND acc_id = #{accId}
			</if>
		   	<if test="null!=blackStartDateBegin and ''!=blackStartDateBegin">
		   		AND black_start_date >= #{blackStartDateBegin}
		   	</if>
		   	<if test="null!=blackStartDateEnd and ''!=blackStartDateEnd">
		   		AND black_start_date &lt; #{blackStartDateEnd}
		   	</if>
		   	<if test="null!=blackEndDateBegin and ''!=blackEndDateBegin">
		   		AND black_end_date >= #{blackEndDateBegin}
		   	</if>
		   	<if test="null!=blackEndDateEnd and ''!=blackEndDateEnd">
		   		AND black_end_date &lt; #{blackEndDateEnd}
		   	</if>
		   	<if test="null!=blackStartTimeBegin and ''!=blackStartTimeBegin">
		   		AND black_start_time >= #{blackStartTimeBegin}
		   	</if>
		   	<if test="null!=blackStartTimeEnd and ''!=blackStartTimeEnd">
		   		AND black_start_time &lt; #{blackStartTimeEnd}
		   	</if>
		   	<if test="null!=blackEndTimeBegin and ''!=blackEndTimeBegin">
		   		AND black_end_time >= #{blackEndTimeBegin}
		   	</if>
		   	<if test="null!=blackEndTimeEnd and ''!=blackEndTimeEnd">
		   		AND black_end_time &lt; #{blackEndTimeEnd}
		   	</if>
		   	<if test="null!=uid and ''!=uid">
			    AND uid = #{uid}
			</if>
	    </where>
	</sql>
	 
    <select id="findPageCount" resultType="long">
        SELECT count(*) FROM acc_black <include refid="findWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 #offset#,#pageSize#,#lastRows# 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="BaseResultMap">
    	SELECT <include refid="Base_Column_List" /> FROM acc_black 
		<include refid="findWhere"/>
		<if test="null!=sortColumns and ''!=sortColumns">
			ORDER BY ${sortColumns}
		</if>
    </select>
	<select id="find" resultMap="BaseResultMap">
	    SELECT <include refid="Base_Column_List" /> FROM acc_black 
		<include refid="findWhere"/>
		<if test="null!=sortColumns">
			ORDER BY ${sortColumns}
		</if>
    </select>
    <!-- 基础方法End -->
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from acc_black
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from acc_black
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insertSelective" parameterType="com.ink.user.core.po.AccBlack">
		insert into acc_black
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="openDate != null">
				open_date,
			</if>
			<if test="closeDate != null">
				close_date,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="delFlag != null">
				del_flag,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="lastUpdateTime != null">
				last_update_time,
			</if>
			<if test="accId != null">
				acc_id,
			</if>
			<if test="accTypeId != null">
				acc_type_id,
			</if>
			<if test="txnCode != null">
				txn_code,
			</if>
			<if test="accDepositType != null">
				acc_deposit_type,
			</if>
			<if test="blackWhy != null">
				black_why,
			</if>
			<if test="blackStartDate != null">
				black_start_date,
			</if>
			<if test="blackEndDate != null">
				black_end_date,
			</if>
			<if test="blackStartTime != null">
				black_start_time,
			</if>
			<if test="blackEndTime != null">
				black_end_time,
			</if>
			<if test="blackType != null">
				black_type,
			</if>
			<if test="accessIp != null">
				access_ip,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="custName != null">
				cust_name,
			</if>
			<if test="mblNo != null">
				mbl_no,
			</if>
			<if test="idNo != null">
				id_no,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="version != null">
				#{version,jdbcType=INTEGER},
			</if>
			<if test="openDate != null">
				#{openDate,jdbcType=DATE},
			</if>
			<if test="closeDate != null">
				#{closeDate,jdbcType=DATE},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateTime != null">
				#{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="accId != null">
				#{accId,jdbcType=BIGINT},
			</if>
			<if test="accTypeId != null">
				#{accTypeId,jdbcType=BIGINT},
			</if>
			<if test="txnCode != null">
				#{txnCode,jdbcType=CHAR},
			</if>
			<if test="accDepositType != null">
				#{accDepositType,jdbcType=CHAR},
			</if>
			<if test="blackWhy != null">
				#{blackWhy,jdbcType=VARCHAR},
			</if>
			<if test="blackStartDate != null">
				#{blackStartDate,jdbcType=DATE},
			</if>
			<if test="blackEndDate != null">
				#{blackEndDate,jdbcType=DATE},
			</if>
			<if test="blackStartTime != null">
				#{blackStartTime,jdbcType=TIME},
			</if>
			<if test="blackEndTime != null">
				#{blackEndTime,jdbcType=TIME},
			</if>
			<if test="blackType != null">
				#{blackType,jdbcType=CHAR},
			</if>
			<if test="accessIp != null">
				#{accessIp,jdbcType=VARCHAR},
			</if>
			
			<if test="uid != null">
				#{uid,jdbcType=BIGINT},
			</if>
			<if test="custName != null">
				#{custName,jdbcType=VARCHAR},
			</if>
			<if test="mblNo != null">
				#{mblNo,jdbcType=VARCHAR},
			</if>
			<if test="idNo != null">
				#{idNo,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ink.user.core.po.AccBlack">
		update acc_black
		<set>
			<if test="version != null">
				version = #{version,jdbcType=INTEGER},
			</if>
			<if test="openDate != null">
				open_date = #{openDate,jdbcType=DATE},
			</if>
			<if test="closeDate != null">
				close_date = #{closeDate,jdbcType=DATE},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateTime != null">
				last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="accId != null">
				acc_id = #{accId,jdbcType=BIGINT},
			</if>
			<if test="accTypeId != null">
				acc_type_id = #{accTypeId,jdbcType=BIGINT},
			</if>
			<if test="txnCode != null">
				txn_code = #{txnCode,jdbcType=CHAR},
			</if>
			<if test="accDepositType != null">
				acc_deposit_type = #{accDepositType,jdbcType=CHAR},
			</if>
			<if test="blackWhy != null">
				black_why = #{blackWhy,jdbcType=VARCHAR},
			</if>
			<if test="blackStartDate != null">
				black_start_date = #{blackStartDate,jdbcType=DATE},
			</if>
			<if test="blackEndDate != null">
				black_end_date = #{blackEndDate,jdbcType=DATE},
			</if>
			<if test="blackStartTime != null">
				black_start_time = #{blackStartTime,jdbcType=TIME},
			</if>
			<if test="blackEndTime != null">
				black_end_time = #{blackEndTime,jdbcType=TIME},
			</if>
			<if test="blackType != null">
				black_type = #{blackType,jdbcType=CHAR},
			</if>
			<if test="accessIp != null">
				access_ip = #{accessIp,jdbcType=VARCHAR},
			</if>
			<if test="uid != null">
				uid=#{uid,jdbcType=BIGINT},
			</if>
			<if test="custName != null">
				cust_name=#{custName,jdbcType=VARCHAR},
			</if>
			<if test="mblNo != null">
				mbl_no=#{mblNo,jdbcType=VARCHAR},
			</if>
			<if test="idNo != null">
				id_no=#{idNo,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ink.user.core.po.AccBlack">
		update acc_black
		set version = #{version,jdbcType=INTEGER},
		open_date = #{openDate,jdbcType=DATE},
		close_date = #{closeDate,jdbcType=DATE},
		status = #{status,jdbcType=INTEGER},
		del_flag = #{delFlag,jdbcType=BIT},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
		acc_id = #{accId,jdbcType=BIGINT},
		acc_type_id = #{accTypeId,jdbcType=BIGINT},
		txn_code = #{txnCode,jdbcType=CHAR},
		acc_deposit_type = #{accDepositType,jdbcType=CHAR},
		black_why = #{blackWhy,jdbcType=VARCHAR},
		black_start_date = #{blackStartDate,jdbcType=DATE},
		black_end_date = #{blackEndDate,jdbcType=DATE},
		black_start_time = #{blackStartTime,jdbcType=TIME},
		black_end_time = #{blackEndTime,jdbcType=TIME},
		black_type = #{blackType,jdbcType=CHAR},
		access_ip = #{accessIp,jdbcType=VARCHAR},
		uid=#{uid,jdbcType=BIGINT},
		cust_name=#{custName,jdbcType=VARCHAR},
		mbl_no=#{mblNo,jdbcType=VARCHAR},
		id_no=#{idNo,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>


	<!-- 查询流水信息（有分页查询） -->
	<select id="findListPage" resultMap="BaseResultMap">
		<choose>
			<when test="pageVO.totalPage&lt;0">
				<include refid="baseDynamicQuery" />
			</when>
			<otherwise>
				SELECT
				<include refid="Base_Column_List" />
				FROM acc_black
				<include refid="dynamicPageWhere" />
				<include refid="liqDateWhere" />
				<if test="pageVO.orderBy==null or pageVO.orderBy==''">
					order by create_time desc
				</if>
				<if test="pageVO.orderBy!=null and pageVO.orderBy!=''">
					order by ${pageVO.orderBy}
				</if>
				LIMIT #{pageVO.start, jdbcType=INTEGER},#{pageVO.pageSize,
				jdbcType=INTEGER}
			</otherwise>
		</choose>
	</select>

	<sql id="dynamicPageWhere">
		<where>
			1=1

			<if test="accBlackVO.id != null and accBlackVO.id != ''">
				AND id = #{accBlackVO.id,jdbcType=BIGINT}
			</if>
			<if test="accBlackVO.createTime != null and accBlackVO.createTime != ''">
				AND create_time =
				#{accBlackVO.createTime,jdbcType=TIMESTAMP}
			</if>
			<if
				test="accBlackVO.lastUpdateTime != null and accBlackVO.lastUpdateTime != ''">
				AND last_update_time =
				#{accBlackVO.lastUpdateTime,jdbcType=TIMESTAMP}
			</if>

			<if test="accBlackVO.accessIp != null and accBlackVO.accessIp != ''">
				AND access_ip = #{accBlackVO.accessIp,jdbcType=VARCHAR}
			</if>
			<if test="accBlackVO.blackType != null and accBlackVO.blackType != ''">
				AND black_type = #{accBlackVO.blackType,jdbcType=VARCHAR}
			</if>
			<if
				test="accBlackVO.blackStartDate != null and accBlackVO.blackStartDate != ''">
				AND black_start_date =
				#{accBlackVO.blackStartDate,jdbcType=DATE}
			</if>
			<if
				test="accBlackVO.blackEndDate != null and accBlackVO.blackEndDate != ''">
				AND black_end_date = #{accBlackVO.blackEndDate,jdbcType=DATE}
			</if>
			<if
				test="accBlackVO.blackStartTime != null and accBlackVO.blackStartTime != ''">
				AND black_start_time =
				#{accBlackVO.blackStartTime,jdbcType=TIME}
			</if>
			<if
				test="accBlackVO.blackEndTime != null and accBlackVO.blackEndTime != ''">
				AND black_end_time = #{accBlackVO.blackEndTime,jdbcType=TIME}
			</if>
			<if test="accBlackVO.blackWhy != null and accBlackVO.blackWhy != ''">
				AND black_why = #{accBlackVO.blackWhy,jdbcType=VARCHAR}
			</if>
			<if
				test="accBlackVO.accDepositType != null and accBlackVO.accDepositType != ''">
				AND acc_deposit_type =
				#{accBlackVO.accDepositType,jdbcType=INTEGER}
			</if>
			<if test="accBlackVO.txnCode != null and accBlackVO.txnCode != ''">
				AND txn_code = #{accBlackVO.txnCode,jdbcType=INTEGER}
			</if>
			<if test="accBlackVO.accTypeId != null and accBlackVO.accTypeId != ''">
				AND acc_type_id =
				#{accBlackVO.accTypeId,jdbcType=VARCHAR}
			</if>
			<if test="accBlackVO.accId != null and accBlackVO.accId != ''">
				AND acc_id = #{accBlackVO.accId,jdbcType=VARCHAR}
			</if>
			<if test="accBlackVO.status != null and accBlackVO.status != ''">
				AND status = #{accBlackVO.status,jdbcType=VARCHAR}
			</if>
			<if test="accBlackVO.closeDate != null and accBlackVO.closeDate != ''">
				AND close_date = #{accBlackVO.closeDate,jdbcType=VARCHAR}
			</if>
			<if test="accBlackVO.delFlag != null and accBlackVO.delFlag != ''">
				AND del_flag = #{accBlackVO.delFlag,jdbcType=BIT}
			</if>
			<if test="accBlackVO.accId != null and accBlackVO.accId != ''">
				AND acc_id = #{accBlackVO.accId,jdbcType=BIT}
			</if>
			<if test="accBlackVO.accTypeId != null and accBlackVO.accTypeId != ''">
				AND acc_type_id = #{accBlackVO.accTypeId,jdbcType=BIT}
			</if>
			
			<if test="accBlackVO.uid != null and accBlackVO.uid != ''">
				AND uid = #{accBlackVO.uid,jdbcType=BIGINT}
			</if>
			<if test="accBlackVO.custName != null and accBlackVO.custName != ''">
				AND cust_name = #{accBlackVO.custName,jdbcType=VARCHAR}
			</if>
			<if test="accBlackVO.mblNo != null and accBlackVO.mblNo != ''">
				AND mbl_no = #{accBlackVO.mblNo,jdbcType=VARCHAR}
			</if>
			<if test="accBlackVO.idNo != null and accBlackVO.idNo != ''">
				AND id_no = #{accBlackVO.idNo,jdbcType=BIGINT}
			</if>
		</where>
	</sql>

	<!-- 交易时间查询 -->
	<sql id="liqDateWhere">
		<if test="accBlackVO.begLiqDate !=null and accBlackVO.begLiqDate !=''">
			<![CDATA[ and create_time >= #{accBlackVO.begLiqDate, jdbcType=VARCHAR}]]>
		</if>
		<if test="accBlackVO.endLiqDate !=null and accBlackVO.endLiqDate !=''">
			<![CDATA[ and DATE_FORMAT(create_time,'%Y-%m-%d') <= #{accBlackVO.endLiqDate, jdbcType=VARCHAR}]]>
		</if>
	</sql>

	<sql id="baseDynamicQuery">
		select
		<include refid="Base_Column_List" />
		from acc_black
		<include refid="dynamicPageWhere" />
		<include refid="liqDateWhere" />
		<if test="pageVO.orderBy==null or pageVO.orderBy==''">
			order by create_time desc
		</if>
		<if test="pageVO.orderBy!=null and pageVO.orderBy!=''">
			order by ${pageVO.orderBy}
		</if>
	</sql>


	<!-- 分页查询记录总记录数 -->
	<select id="findListPageCount" resultType="int">
		SELECT
		count(1)
		FROM acc_black
		<include refid="dynamicPageWhere" />
		<include refid="liqDateWhere" />
	</select>



	<select id="selectByTxnCode" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from acc_black
		where txn_code = #{txnCode,jdbcType=CHAR}
		<if test="accTypeId !=null or accTypeId !=''">
			and acc_type_id = #{accTypeId,jdbcType=VARCHAR}
		</if>
		and acc_id = #{accId,jdbcType=BIGINT}
	</select>
</mapper>