<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AccCard">
	<resultMap id="BaseResultMap" type="com.ink.user.core.po.AccCard">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_update_time" property="lastUpdateTime"
			jdbcType="TIMESTAMP" />
		<result column="card_no" property="cardNo" jdbcType="VARCHAR" />
		<result column="mch_id" property="mchId" jdbcType="BIGINT" />
		<result column="cust_id" property="custId" jdbcType="VARCHAR" />
		<result column="cust_type" property="custType" jdbcType="INTEGER" />
		<result column="card_type" property="cardType" jdbcType="VARCHAR" />
		<result column="bank_mbl_no" property="bankMblNo" jdbcType="VARCHAR" />
		<result column="id_type" property="idType" jdbcType="VARCHAR" />
		<result column="id_no" property="idNo" jdbcType="VARCHAR" />
		<result column="cust_name" property="custName" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="exp_date" property="expDate" jdbcType="VARCHAR" />
		<result column="cvn2" property="cvn2" jdbcType="VARCHAR" />
		<result column="del_flag" property="delFlag" jdbcType="BIT" />
		<result column="bank_code" property="bankCode" jdbcType="VARCHAR" />
		<result column="bind_card_id" property="bindCardId" jdbcType="BIGINT" />
		<result column="card_serial_no" property="cardSerialNo"
			jdbcType="VARCHAR" />
		<result column="uid" property="uid" jdbcType="BIGINT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, create_time, last_update_time,
		card_no,
		 mch_id,
		 cust_id, cust_type, card_type,
		bank_mbl_no, id_type, id_no, cust_name, status,
		version, exp_date, cvn2,
		del_flag,bank_code,bind_card_id,card_serial_no,uid
	</sql>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into acc_card (id,
		create_time, last_update_time, card_no,
		mch_id, 
		cust_id, cust_type, card_type,
		bank_mbl_no, id_type, id_no,
		cust_name,
		status, version, exp_date,
		cvn2,
		del_flag,bank_code,bind_card_id,card_serial_no,uid)
		values
		(#{id,jdbcType=BIGINT}, 
		#{createTime,jdbcType=TIMESTAMP},
		#{lastUpdateTime,jdbcType=TIMESTAMP}, #{cardNo,jdbcType=VARCHAR},
		#{mchId,jdbcType=VARCHAR},
		#{custId,jdbcType=VARCHAR},
		#{custType,jdbcType=INTEGER}, #{cardType,jdbcType=INTEGER},
		#{bankMblNo,jdbcType=VARCHAR}, #{idType,jdbcType=VARCHAR},#{idNo,jdbcType=VARCHAR},
		#{custName,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER},
		#{version,jdbcType=INTEGER}, #{expDate,jdbcType=VARCHAR},
		#{cvn2,jdbcType=VARCHAR}, #{delFlag,jdbcType=BIT},
		#{bankCode,jdbcType=VARCHAR},
		#{bindCardId,jdbcType=VARCHAR},
		#{cardSerialNo,jdbcType=VARCHAR},
		#{uid,jdbcType=BIGINT})
	</insert>
    <insert id="insertBatch"   parameterType="java.util.List">
      INSERT INTO acc_card ( <include refid="Base_Column_List"/>) values
        <foreach collection="list" item="item" separator="," >
    (
        	#{item.id, jdbcType=BIGINT} ,
        	#{item.createTime, jdbcType=TIMESTAMP} ,
        	#{item.lastUpdateTime, jdbcType=TIMESTAMP} ,
        	#{item.cardNo, jdbcType=VARCHAR} ,
        	#{item.mchId, jdbcType=BIGINT} ,
        	#{item.custId, jdbcType=VARCHAR} ,
        	#{item.custType, jdbcType=BIT} ,
        	#{item.cardType, jdbcType=CHAR} ,
        	#{item.bankMblNo, jdbcType=VARCHAR} ,
        	#{item.idType, jdbcType=CHAR} ,
        	#{item.idNo, jdbcType=VARCHAR} ,
        	#{item.custName, jdbcType=VARCHAR} ,
        	#{item.status, jdbcType=BIT} ,
        	#{item.version, jdbcType=INTEGER} ,
        	#{item.expDate, jdbcType=VARCHAR} ,
        	#{item.cvn2, jdbcType=VARCHAR} ,
        	#{item.delFlag, jdbcType=BIT} ,
        	#{item.bankCode, jdbcType=VARCHAR} ,
        	#{item.bindCardId, jdbcType=BIGINT} ,
        	#{item.cardSerialNo, jdbcType=VARCHAR} ,
        	#{item.uid, jdbcType=BIGINT} 
    )
        </foreach>
    </insert>

    <update id="update" >
    <![CDATA[
        UPDATE acc_card SET
	        create_time = #{createTime, jdbcType=TIMESTAMP} ,
	        last_update_time = #{lastUpdateTime, jdbcType=TIMESTAMP} ,
	        card_no = #{cardNo, jdbcType=VARCHAR} ,
	        mch_id = #{mchId, jdbcType=BIGINT} ,
	        cust_id = #{custId, jdbcType=VARCHAR} ,
	        cust_type = #{custType, jdbcType=BIT} ,
	        card_type = #{cardType, jdbcType=CHAR} ,
	        bank_mbl_no = #{bankMblNo, jdbcType=VARCHAR} ,
	        id_type = #{idType, jdbcType=CHAR} ,
	        id_no = #{idNo, jdbcType=VARCHAR} ,
	        cust_name = #{custName, jdbcType=VARCHAR} ,
	        status = #{status, jdbcType=BIT} ,
	        version = #{version, jdbcType=INTEGER} ,
	        exp_date = #{expDate, jdbcType=VARCHAR} ,
	        cvn2 = #{cvn2, jdbcType=VARCHAR} ,
	        del_flag = #{delFlag, jdbcType=BIT} ,
	        bank_code = #{bankCode, jdbcType=VARCHAR} ,
	        card_serial_no = #{cardSerialNo, jdbcType=VARCHAR} ,
	        uid = #{uid, jdbcType=BIGINT} 
        WHERE 
	        id = #{id} ,
	        bind_card_id = #{bindCardId} 
    ]]>
    </update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM acc_card WHERE
        id = #{id} ,
        bind_card_id = #{bindCardId} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="BaseResultMap">
	    SELECT <include refid="Base_Column_List"/>
	    <![CDATA[
	        FROM acc_card 
	        WHERE 
		        id = #{id} ,
		        bind_card_id = #{bindCardId} 
	    ]]>
    </select>

	<sql id="findWhere">
	    <where>
	    	<choose>
	    		<when test="queryType==0">
			       	<if test="null!=cardNo and ''!=cardNo ">
	   			 		AND card_no = #{cardNo}
	   			   	</if>
			       	<if test="null!=custId and ''!=custId ">
	   			 		AND cust_id = #{custId}
	   			   	</if>
			       	<if test="null!=cardType and ''!=cardType ">
	   			 		AND card_type = #{cardType}
	   			   	</if>
			       	<if test="null!=bankMblNo and ''!=bankMblNo ">
	   			 		AND bank_mbl_no = #{bankMblNo}
	   			   	</if>
			       	<if test="null!=idType and ''!=idType ">
	   			 		AND id_type = #{idType}
	   			   	</if>
			       	<if test="null!=idNo and ''!=idNo ">
	   			 		AND id_no = #{idNo}
	   			   	</if>
			       	<if test="null!=custName and ''!=custName ">
	   			 		AND cust_name = #{custName}
	   			   	</if>
			       	<if test="null!=expDate and ''!=expDate ">
	   			 		AND exp_date = #{expDate}
	   			   	</if>
			       	<if test="null!=cvn2 and ''!=cvn2 ">
	   			 		AND cvn2 = #{cvn2}
	   			   	</if>
			       	<if test="null!=bankCode and ''!=bankCode ">
	   			 		AND bank_code = #{bankCode}
	   			   	</if>
			       	<if test="null!=cardSerialNo and ''!=cardSerialNo ">
	   			 		AND card_serial_no = #{cardSerialNo}
	   			   	</if>
	       		</when>
	       		<otherwise>
				    <if test="null!=cardNo and ''!=cardNo">
				    <!-- 	AND card_no LIKE '%'||#{cardNo}||'%' oracle -->
			   			AND card_no LIKE concat('%',#{cardNo},'%')
			   			
			   		</if>
				    <if test="null!=custId and ''!=custId">
				    <!-- 	AND cust_id LIKE '%'||#{custId}||'%' oracle -->
			   			AND cust_id LIKE concat('%',#{custId},'%')
			   			
			   		</if>
				    <if test="null!=cardType and ''!=cardType">
				    <!-- 	AND card_type LIKE '%'||#{cardType}||'%' oracle -->
			   			AND card_type LIKE concat('%',#{cardType},'%')
			   			
			   		</if>
				    <if test="null!=bankMblNo and ''!=bankMblNo">
				    <!-- 	AND bank_mbl_no LIKE '%'||#{bankMblNo}||'%' oracle -->
			   			AND bank_mbl_no LIKE concat('%',#{bankMblNo},'%')
			   			
			   		</if>
				    <if test="null!=idType and ''!=idType">
				    <!-- 	AND id_type LIKE '%'||#{idType}||'%' oracle -->
			   			AND id_type LIKE concat('%',#{idType},'%')
			   			
			   		</if>
				    <if test="null!=idNo and ''!=idNo">
				    <!-- 	AND id_no LIKE '%'||#{idNo}||'%' oracle -->
			   			AND id_no LIKE concat('%',#{idNo},'%')
			   			
			   		</if>
				    <if test="null!=custName and ''!=custName">
				    <!-- 	AND cust_name LIKE '%'||#{custName}||'%' oracle -->
			   			AND cust_name LIKE concat('%',#{custName},'%')
			   			
			   		</if>
				    <if test="null!=expDate and ''!=expDate">
				    <!-- 	AND exp_date LIKE '%'||#{expDate}||'%' oracle -->
			   			AND exp_date LIKE concat('%',#{expDate},'%')
			   			
			   		</if>
				    <if test="null!=cvn2 and ''!=cvn2">
				    <!-- 	AND cvn2 LIKE '%'||#{cvn2}||'%' oracle -->
			   			AND cvn2 LIKE concat('%',#{cvn2},'%')
			   			
			   		</if>
				    <if test="null!=bankCode and ''!=bankCode">
				    <!-- 	AND bank_code LIKE '%'||#{bankCode}||'%' oracle -->
			   			AND bank_code LIKE concat('%',#{bankCode},'%')
			   			
			   		</if>
				    <if test="null!=cardSerialNo and ''!=cardSerialNo">
				    <!-- 	AND card_serial_no LIKE '%'||#{cardSerialNo}||'%' oracle -->
			   			AND card_serial_no LIKE concat('%',#{cardSerialNo},'%')
			   			
			   		</if>
		        </otherwise>
	      	</choose>
		   	<if test="null!=id and ''!=id">
			    AND id = #{id}
			</if>
		   	<if test="null!=createTimeBegin and ''!=createTimeBegin">
		   		AND create_time >= #{createTimeBegin}
		   	</if>
		   	<if test="null!=createTimeEnd and ''!=createTimeEnd">
		   		AND create_time &lt; #{createTimeEnd}
		   	</if>
		   	<if test="null!=lastUpdateTimeBegin and ''!=lastUpdateTimeBegin">
		   		AND last_update_time >= #{lastUpdateTimeBegin}
		   	</if>
		   	<if test="null!=lastUpdateTimeEnd and ''!=lastUpdateTimeEnd">
		   		AND last_update_time &lt; #{lastUpdateTimeEnd}
		   	</if>
		   	<if test="null!=mchId and ''!=mchId">
			    AND mch_id = #{mchId}
			</if>
		   	<if test="null!=custType and ''!=custType">
			    AND cust_type = #{custType}
			</if>
		   	<if test="null!=status and ''!=status">
			    AND status = #{status}
			</if>
		   	<if test="null!=version and ''!=version">
			    AND version = #{version}
			</if>
		   	<if test="null!=delFlag and ''!=delFlag">
			    AND del_flag = #{delFlag}
			</if>
		   	<if test="null!=bindCardId and ''!=bindCardId">
			    AND bind_card_id = #{bindCardId}
			</if>
		   	<if test="null!=uid and ''!=uid">
			    AND uid = #{uid}
			</if>
	    </where>
	</sql>
	 
    <select id="findPageCount" resultType="long">
        SELECT count(*) FROM acc_card <include refid="findWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 #offset#,#pageSize#,#lastRows# 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="BaseResultMap">
    	SELECT <include refid="Base_Column_List"/> FROM acc_card 
		<include refid="findWhere"/>
		<if test="null!=sortColumns and ''!=sortColumns">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	<select id="find" resultMap="BaseResultMap">
	    SELECT <include refid="Base_Column_List"/> FROM acc_card 
		<include refid="findWhere"/>
		<if test="null!=sortColumns">
			ORDER BY ${sortColumns}
		</if>
    </select>
	<!-- 基础方法End -->
	
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from acc_card
		where id = #{id,jdbcType=BIGINT}
		
	</select>
	<select id="selectByUidAndCustType" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from acc_card
		where uid = #{uid,jdbcType=VARCHAR}
		AND cust_type=#{custType,jdbcType=TINYINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		acc_card
		where id = #{id,jdbcType=BIGINT}
	</delete>
	
	<insert id="insertSelective" parameterType="com.ink.user.core.po.AccCard">
		insert into acc_card
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="lastUpdateTime != null">
				last_update_time,
			</if>
			<if test="cardNo != null">
				card_no,
			</if>
			<if test="mchId != null">
				mch_id,
			</if>
			<if test="custId != null">
				cust_id,
			</if>
			<if test="custType != null">
				cust_type,
			</if>
			<if test="cardType != null">
				card_type,
			</if>
			<if test="bankMblNo != null">
				bank_mbl_no,
			</if>
			<if test="idType != null">
				id_type,
			</if>
			<if test="idNo != null">
				id_no,
			</if>
			<if test="custName != null">
				cust_name,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="expDate != null">
				exp_date,
			</if>
			<if test="cvn2 != null">
				cvn2,
			</if>
			<if test="delFlag != null">
				del_flag,
			</if>
			<if test="bankCode != null">
				bank_code,
			</if>
			<if test="bindCardId != null">
				bind_card_id,
			</if>
			<if test="cardSerialNo != null">
				card_serial_no,
			</if>
			<if test="uid != null">
				uid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateTime != null">
				#{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="cardNo != null">
				#{cardNo,jdbcType=VARCHAR},
			</if>
			<if test="mchId != null">
				#{mchId,jdbcType=VARCHAR},
			</if>
			<if test="custId != null">
				#{custId,jdbcType=VARCHAR},
			</if>
			<if test="custType != null">
				#{custType,jdbcType=INTEGER},
			</if>
			<if test="cardType != null">
				#{cardType,jdbcType=INTEGER},
			</if>
			<if test="bankMblNo != null">
				#{bankMblNo,jdbcType=VARCHAR},
			</if>
			<if test="idType != null">
				#{idType,jdbcType=VARCHAR},
			</if>
			<if test="idNo != null">
				#{idNo,jdbcType=VARCHAR},
			</if>
			<if test="custName != null">
				#{custName,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="version != null">
				#{version,jdbcType=INTEGER},
			</if>
			<if test="expDate != null">
				#{expDate,jdbcType=VARCHAR},
			</if>
			<if test="cvn2 != null">
				#{cvn2,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=BIT},
			</if>
			<if test="bankCode != null">
				#{bankCode,jdbcType=VARCHAR},
			</if>
			<if test="bindCardId != null">
				#{bindCardId,jdbcType=VARCHAR},
			</if>
			<if test="cardSerialNo != null">
				#{cardSerialNo,jdbcType=VARCHAR},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ink.user.core.po.AccCard">
		update acc_card
		<set>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateTime != null">
				last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="cardNo != null">
				card_no = #{cardNo,jdbcType=VARCHAR},
			</if>
			<if test="mchId != null">
				mch_id = #{mchId,jdbcType=VARCHAR},
			</if>
			<if test="custId != null">
				cust_id = #{custId,jdbcType=VARCHAR},
			</if>
			<if test="custType != null">
				cust_type = #{custType,jdbcType=INTEGER},
			</if>
			<if test="cardType != null">
				card_type = #{cardType,jdbcType=INTEGER},
			</if>
			<if test="bankMblNo != null">
				bank_mbl_no = #{bankMblNo,jdbcType=VARCHAR},
			</if>
			<if test="idType != null">
				id_type = #{idType,jdbcType=VARCHAR},
			</if>
			<if test="idNo != null">
				id_no = #{idNo,jdbcType=VARCHAR},
			</if>
			<if test="custName != null">
				cust_name = #{custName,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="version != null">
				version = #{version,jdbcType=INTEGER},
			</if>
			<if test="expDate != null">
				exp_date = #{expDate,jdbcType=VARCHAR},
			</if>
			<if test="cvn2 != null">
				cvn2 = #{cvn2,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag,jdbcType=BIT},
			</if>
			<if test="bankCode != null">
				bank_code = #{bankCode,jdbcType=VARCHAR},
			</if>
			<if test="bindCardId != null">
				bind_card_id = #{bindCardId,jdbcType=VARCHAR},
			</if>
			<if test="cardSerialNo != null">
				card_serial_no = #{cardSerialNo,jdbcType=VARCHAR},
			</if>
			<if test="uid != null">
				uid = #{uid,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ink.user.core.po.AccCard">
		update acc_card
		set 
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		last_update_time =
		#{lastUpdateTime,jdbcType=TIMESTAMP},
		card_no =
		#{cardNo,jdbcType=VARCHAR},
		mch_id = #{mchId,jdbcType=VARCHAR},
		cust_id = #{custId,jdbcType=VARCHAR},
		cust_type = #{custType,jdbcType=INTEGER},
		card_type =
		#{cardType,jdbcType=INTEGER},
		bank_mbl_no =
		#{bankMblNo,jdbcType=VARCHAR},
		id_type = #{idType,jdbcType=VARCHAR},
		id_no = #{idNo,jdbcType=VARCHAR},
		cust_name = #{custName,jdbcType=VARCHAR},
		status =
		#{status,jdbcType=INTEGER},
		version = #{version,jdbcType=INTEGER},
		exp_date = #{expDate,jdbcType=VARCHAR},
		cvn2 =
		#{cvn2,jdbcType=VARCHAR},
		del_flag = #{delFlag,jdbcType=BIT},
		bank_code
		= #{bankCode,jdbcType=VARCHAR},
		bind_card_id =
		#{bindCardId,jdbcType=VARCHAR},
		card_serial_no =
		#{cardSerialNo,jdbcType=VARCHAR},
		uid = #{uid,jdbcType=BIGINT}
		where id
		= #{id,jdbcType=BIGINT}
	</update>
	<!-- 个人账户银行卡查询 -->
	<select id="getPersonalAccCard" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from acc_card where cust_type=#{custType,jdbcType=VARCHAR} and
		cust_id=#{custId,jdbcType=VARCHAR} and
		mch_id=#{mchId,jdbcType=VARCHAR}
	</select>
	
	<!-- 一个用户只能绑定一张卡 -->
	<select id="checkBindCard" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from acc_card where uid=#{uid,jdbcType=BIGINT}
		and status = #{status,jdbcType=INTEGER}
	</select>

	<!-- 根据商户号、银行卡号查询卡信息 -->
	<select id="selectAccCardByMchIdAndCardNo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from acc_card where uid=#{uid,jdbcType=BIGINT} and
		card_no=#{cardNo,jdbcType=VARCHAR}
	</select>
	<!-- 根据商户号和银行卡号更新银行卡状态（解绑操作）(状态改为9：注销) -->
	<update id="updateAccCardStatus" parameterType="com.ink.user.core.po.AccCard">
		update acc_card
		set
		status = #{status,jdbcType=VARCHAR},
		version =
		#{version,jdbcType=VARCHAR}+1
		where uid=#{uid,jdbcType=BIGINT}
		and
		card_no=#{cardNo,jdbcType=VARCHAR}
		and
		version = #{version,jdbcType=VARCHAR}

	</update>

	<!-- 依据查询实体分页查询 -->
	<select id="findList" resultMap="BaseResultMap">
		<choose>
			<when test="pageVO.totalPage&lt;0">
				<include refid="baseDynamicQuery" />
			</when>
			<otherwise>
				<include refid="pageDynamicQuery" />
			</otherwise>
		</choose>
	</select>

	<!-- 全量查询 -->
	<sql id="baseDynamicQuery">
		SELECT
		<include refid="Base_Column_List" />
		FROM acc_card
		<include refid="dynamicPageWhere" />
		<include refid="dynamicDateWhere" />
		<if test="pageVO.orderBy!=null and pageVO.orderBy!=''">
			ORDER BY ${pageVO.orderBy}
		</if>
	</sql>

	<!-- 分页查询 -->
	<sql id="pageDynamicQuery">
		SELECT
		<include refid="Base_Column_List" />
		FROM acc_card
		<include refid="dynamicPageWhere" />
		<include refid="dynamicDateWhere" />
		<if test="pageVO.orderBy!=null and pageVO.orderBy!=''">
			ORDER BY ${pageVO.orderBy}
		</if>
		LIMIT #{pageVO.start, jdbcType=INTEGER}, #{pageVO.pageSize,
		jdbcType=INTEGER}
	</sql>

	<!-- 实体查询条件 -->
	<sql id="dynamicPageWhere">
		<where>
			1=1
			<if test="queryEntity.createTime != null and queryEntity.createTime != ''">
				AND create_time =
				#{queryEntity.createTime,jdbcType=TIMESTAMP}
			</if>
			<if
				test="queryEntity.lastUpdateTime != null and queryEntity.lastUpdateTime != ''">
				AND last_update_time =
				#{queryEntity.lastUpdateTime,jdbcType=TIMESTAMP}
			</if>
			<if test="queryEntity.cardNo != null and queryEntity.cardNo != ''">
				AND card_no = #{queryEntity.cardNo,jdbcType=VARCHAR}
			</if>
			<if test="queryEntity.mchId != null and queryEntity.mchId != ''">
				AND mch_id = #{queryEntity.mchId,jdbcType=VARCHAR}
			</if>
			<if test="queryEntity.custId != null and queryEntity.custId != ''">
				AND cust_id = #{queryEntity.custId,jdbcType=VARCHAR}
			</if>
			<if test="queryEntity.custType != null">
				AND cust_type = #{queryEntity.custType,jdbcType=INTEGER}
			</if>
			<if test="queryEntity.cardType != null">
				AND card_type = #{queryEntity.cardType,jdbcType=INTEGER}
			</if>
			<if test="queryEntity.bankMblNo != null and queryEntity.bankMblNo != ''">
				AND bank_mbl_no =
				#{queryEntity.bankMblNo,jdbcType=VARCHAR}
			</if>
			<if test="queryEntity.idType != null and queryEntity.idType != ''">
				AND id_type = #{queryEntity.idType,jdbcType=VARCHAR}
			</if>
			<if test="queryEntity.idNo != null and queryEntity.idNo != ''">
				AND id_no = #{queryEntity.idNo,jdbcType=VARCHAR}
			</if>
			<if test="queryEntity.custName != null and queryEntity.custName != ''">
				AND cust_name = #{queryEntity.custName,jdbcType=VARCHAR}
			</if>
			<if test="queryEntity.status != null and queryEntity.status != ''">
				AND status = #{queryEntity.status,jdbcType=INTEGER}
			</if>
			<if test="queryEntity.version != null and queryEntity.version != ''">
				AND version = #{queryEntity.version,jdbcType=INTEGER}
			</if>
			<if test="queryEntity.bankCode != null and queryEntity.bankCode != ''">
				AND bank_code = #{queryEntity.bankCode,jdbcType=VARCHAR}
			</if>
			<if test="queryEntity.bindCardId != null and queryEntity.bindCardId != ''">
				AND bind_card_id =
				#{queryEntity.bindCardId,jdbcType=VARCHAR}
			</if>
			<if
				test="queryEntity.cardSerialNo != null and queryEntity.cardSerialNo != ''">
				AND card_serial_no =
				#{queryEntity.cardSerialNo,jdbcType=VARCHAR}
			</if>
			<if test="queryEntity.uid != null and queryEntity.uid != ''">
				AND uid = #{queryEntity.uid,jdbcType=BIGINT}
			</if>
			<if test="queryEntity.bankMblNo != null and queryEntity.bankMblNo != ''">
				AND bank_mbl_no =
				#{queryEntity.bankMblNo,jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<!-- 时间查询条件 -->
	<sql id="dynamicDateWhere">
		<if
			test="queryEntity.createTimeStart !=null and queryEntity.createTimeStart !=''">
            <![CDATA[ and create_time >= #{queryEntity.createTimeStart, jdbcType=TIMESTAMP}]]>
		</if>
		<if
			test="queryEntity.createTimeEnd !=null and queryEntity.createTimeEnd !=''">
            <![CDATA[ and DATE_FORMAT(create_time,'%Y-%m-%d') <= #{queryEntity.createTimeEnd, jdbcType=TIMESTAMP}]]>
		</if>
	</sql>

	<!-- 分页查询记录总记录数 -->
	<select id="findCount" resultType="int">
		SELECT
		count(1)
		FROM acc_card
		<include refid="dynamicPageWhere" />
		<include refid="dynamicDateWhere" />
	</select>

	<sql id="Base_Column_List_Union">
		acc_card.id, 
		acc_card.create_time, acc_card.last_update_time, 
		acc_card.mch_id, acc_card.cust_id,
		acc_card.cust_type,
		acc_card.id_type, acc_card.id_no, acc_card.acc_pac_id,
		acc_card.pac_id, acc_card.acc_prod_id, acc_card.prod_id,
		acc_card.cust_name,
		acc_card.sex,
		acc_card.birthday, acc_card.mbl_no,
		acc_card.tel_no, acc_card.email, acc_card.zipcode, acc_card.address,
		acc_card.pswd, acc_card.pswd_err_cnt,
		acc_card.pswd_errlmt_cnt,
		acc_card.pswd_question, acc_card.pswd_answer, acc_card.pswd_err_lock,
		acc_card.pswd_err_lockhours, acc_card.status, acc_card.del_flag,
		acc_card.filler1, acc_card.filler2, acc_card.filler3,
		acc_card.version, acc_card.bank_code, acc_card.bind_card_id,
		acc_card.card_serial_no,acc_card.uid
	</sql>

	<!-- 依据查询实体分页查询 -->
	<select id="findListUseCustType" resultMap="BaseResultMap">
		<choose>
			<when test="pageVO.totalPage&lt;0">
				<include refid="baseDynamicQueryUseCustType" />
			</when>
			<otherwise>
				<include refid="pageDynamicQueryUseCustType" />
			</otherwise>
		</choose>
	</select>

	<!-- 全量查询 -->
	<sql id="baseDynamicQueryUseCustType">
		SELECT
		<include refid="Base_Column_List_Union" />
		FROM acc_card, acc_cust
		<include refid="dynamicPageWhereUseCustType" />
		<include refid="dynamicDateWhereUseCustType" />
		<if test="pageVO.orderBy!=null and pageVO.orderBy!=''">
			ORDER BY ${pageVO.orderBy}
		</if>
	</sql>

	<!-- 分页查询 -->
	<sql id="pageDynamicQueryUseCustType">
		SELECT
		<include refid="Base_Column_List_Union" />
		FROM acc_card, acc_cust
		<include refid="dynamicPageWhereUseCustType" />
		<include refid="dynamicDateWhereUseCustType" />
		<if test="pageVO.orderBy!=null and pageVO.orderBy!=''">
			ORDER BY ${pageVO.orderBy}
		</if>
		LIMIT #{pageVO.start, jdbcType=INTEGER}, #{pageVO.pageSize,
		jdbcType=INTEGER}
	</sql>

	<!-- 实体查询条件 -->
	<sql id="dynamicPageWhereUseCustType">
		<where>
			acc_card.mch_id = acc_cust.mch_id
			AND acc_card.cust_id =
			acc_cust.cust_id
			AND acc_card.cust_type = acc_cust.cust_type
			<if test="queryEntity.custType != null">
				AND acc_cust.cust_type =
				#{queryEntity.custType,jdbcType=INTEGER}
			</if>
			<if test="queryEntity.createTime != null and queryEntity.createTime != ''">
				AND acc_card.create_time =
				#{queryEntity.createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="queryEntity.lastUpdateTime != null and queryEntity.lastUpdateTime != ''">
				AND acc_card.last_update_time =
				#{queryEntity.lastUpdateTime,jdbcType=TIMESTAMP}
			</if>
			<if test="queryEntity.cardNo != null and queryEntity.cardNo != ''">
				AND acc_card.card_no =
				#{queryEntity.cardNo,jdbcType=VARCHAR}
			</if>
			<if test="queryEntity.mchId != null and queryEntity.mchId != ''">
				AND acc_card.mch_id =
				#{queryEntity.mchId,jdbcType=VARCHAR}
			</if>
			<if test="queryEntity.custId != null and queryEntity.custId != ''">
				AND acc_card.cust_id =
				#{queryEntity.custId,jdbcType=VARCHAR}
			</if>
			<if test="queryEntity.custType != null">
				AND acc_card.cust_type =
				#{queryEntity.custType,jdbcType=INTEGER}
			</if>
			<if test="queryEntity.cardType != null">
				AND acc_card.card_type =
				#{queryEntity.cardType,jdbcType=INTEGER}
			</if>
			<if test="queryEntity.bankMblNo != null and queryEntity.bankMblNo != ''">
				AND acc_card.bank_mbl_no =
				#{queryEntity.bankMblNo,jdbcType=VARCHAR}
			</if>
			<if test="queryEntity.idType != null and queryEntity.idType != ''">
				AND acc_card.id_type = #{queryEntity.idType,jdbcType=VARCHAR}
			</if>
			<if test="queryEntity.idNo != null and queryEntity.idNo != ''">
				AND acc_card.id_no = #{queryEntity.idNo,jdbcType=VARCHAR}
			</if>
			<if test="queryEntity.custName != null and queryEntity.custName != ''">
				AND acc_card.cust_name =
				#{queryEntity.custName,jdbcType=VARCHAR}
			</if>
			<if test="queryEntity.status != null and queryEntity.status != ''">
				AND acc_card.status =
				#{queryEntity.status,jdbcType=INTEGER}
			</if>
			<if test="queryEntity.version != null and queryEntity.version != ''">
				AND acc_card.version =
				#{queryEntity.version,jdbcType=INTEGER}
			</if>
			<if test="queryEntity.bankCode != null and queryEntity.bankCode != ''">
				AND acc_card.bank_code =
				#{queryEntity.bankCode,jdbcType=VARCHAR}
			</if>
			<if test="queryEntity.bindCardId != null and queryEntity.bindCardId != ''">
				AND acc_card.bind_card_id =
				#{queryEntity.bindCardId,jdbcType=VARCHAR}
			</if>
			<if
				test="queryEntity.cardSerialNo != null and queryEntity.cardSerialNo != ''">
				AND acc_card.card_serial_no =
				#{queryEntity.cardSerialNo,jdbcType=VARCHAR}
			</if>
			<if test="queryEntity.uid != null and queryEntity.uid != ''">
				AND acc_card.uid =
				#{queryEntity.uid,jdbcType=BIGINT}
			</if>
		</where>
	</sql>

	<!-- 时间查询条件 -->
	<sql id="dynamicDateWhereUseCustType">
		<if
			test="queryEntity.createTimeStart !=null and queryEntity.createTimeStart !=''">
            <![CDATA[ and acc_card.create_time >= #{queryEntity.createTimeStart, jdbcType=TIMESTAMP}]]>
		</if>
		<if
			test="queryEntity.createTimeEnd !=null and queryEntity.createTimeEnd !=''">
            <![CDATA[ and acc_card.create_time <= #{queryEntity.createTimeEnd, jdbcType=TIMESTAMP}]]>
		</if>
	</sql>

	<!-- 分页查询记录总记录数 -->
	<select id="findCountUseCustType" resultType="int">
		SELECT
		count(1)
		FROM acc_card, acc_cust
		<include refid="dynamicPageWhereUseCustType" />
		<include refid="dynamicDateWhereUseCustType" />
	</select>
	<!-- 根据客户号、银行卡号查询卡信息 -->
	<select id="selectAccCardByCustIdAndCardNo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from acc_card where cust_id=#{custId,jdbcType=VARCHAR} and
		card_no=#{cardNo,jdbcType=VARCHAR}
	</select>

	<select id="selectAccCardByMchIdAndCardNoAndStatus" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from acc_card where uid=#{uid,jdbcType=VARCHAR} and
		card_no=#{cardNo,jdbcType=VARCHAR} and status=#{status,jdbcType=VARCHAR}
	</select>

</mapper>
