<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AccMch">
	<resultMap id="BaseResultMap" type="com.ink.user.core.po.AccMch">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_update_time" property="lastUpdateTime"
			jdbcType="TIMESTAMP" />
		<result column="mch_id" property="mchId" jdbcType="BIGINT" />
		<result column="cust_id" property="custId" jdbcType="VARCHAR" />
		<result column="mch_name" property="mchName" jdbcType="VARCHAR" />
		<result column="acc_mcc_id" property="accMccId" jdbcType="BIGINT" />
		<result column="mcc" property="mcc" jdbcType="VARCHAR" />
		<result column="mch_nature" property="mchNature" jdbcType="INTEGER" />
		<result column="org_code" property="orgCode" jdbcType="VARCHAR" />
		<result column="reg_no" property="regNo" jdbcType="VARCHAR" />
		<result column="reg_amt" property="regAmt" jdbcType="DECIMAL" />
		<result column="reg_address" property="regAddress" jdbcType="VARCHAR" />
		<result column="bus_address" property="busAddress" jdbcType="VARCHAR" />
		<result column="contact" property="contact" jdbcType="VARCHAR" />
		<result column="mbl_no" property="mblNo" jdbcType="VARCHAR" />
		<result column="tel_no" property="telNo" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="del_flag" property="delFlag" jdbcType="BIT" />
		<result column="filler1" property="filler1" jdbcType="VARCHAR" />
		<result column="filler2" property="filler2" jdbcType="VARCHAR" />
		<result column="filler3" property="filler3" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, create_time, last_update_time,
		mch_id, cust_id,
		mch_name,
		acc_mcc_id, mcc, mch_nature, org_code,
		reg_no, reg_amt, reg_address, bus_address,
		contact, mbl_no, tel_no,
		email, status, del_flag, filler1, filler2,
		filler3, version
	</sql>
	
	<!-- 基础方法Start -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into acc_mch (id,
		create_time, last_update_time, mch_id,
		cust_id,
		mch_name, acc_mcc_id,
		mcc, mch_nature, org_code,
		reg_no, reg_amt,
		reg_address,
		bus_address, contact, mbl_no,
		tel_no, email, status,
		del_flag, filler1, filler2,
		filler3, version)
		values
		(#{id,jdbcType=BIGINT},
		#{createTime,jdbcType=TIMESTAMP},
		#{lastUpdateTime,jdbcType=TIMESTAMP}, #{mchId,jdbcType=VARCHAR},
		#{custId,jdbcType=VARCHAR}, #{mchName,jdbcType=VARCHAR},
		#{accMccId,jdbcType=BIGINT},
		#{mcc,jdbcType=VARCHAR},
		#{mchNature,jdbcType=INTEGER}, #{orgCode,jdbcType=VARCHAR},
		#{regNo,jdbcType=VARCHAR}, #{regAmt,jdbcType=DECIMAL},
		#{regAddress,jdbcType=VARCHAR},
		#{busAddress,jdbcType=VARCHAR},
		#{contact,jdbcType=VARCHAR}, #{mblNo,jdbcType=VARCHAR},
		#{telNo,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER},
		#{delFlag,jdbcType=BIT},
		#{filler1,jdbcType=VARCHAR}, #{filler2,jdbcType=VARCHAR},
		#{filler3,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER})
	</insert>
	<insert id="insertBatch"   parameterType="java.util.List">
      INSERT INTO acc_mch ( <include refid="Base_Column_List" />) values
        <foreach collection="list" item="item" separator="," >
    (
        	#{item.id, jdbcType=BIGINT} ,
        	#{item.createTime, jdbcType=TIMESTAMP} ,
        	#{item.lastUpdateTime, jdbcType=TIMESTAMP} ,
        	#{item.mchId, jdbcType=BIGINT} ,
        	#{item.custId, jdbcType=VARCHAR} ,
        	#{item.mchName, jdbcType=VARCHAR} ,
        	#{item.accMccId, jdbcType=BIGINT} ,
        	#{item.mcc, jdbcType=VARCHAR} ,
        	#{item.mchNature, jdbcType=INTEGER} ,
        	#{item.orgCode, jdbcType=VARCHAR} ,
        	#{item.regNo, jdbcType=VARCHAR} ,
        	#{item.regAmt, jdbcType=DECIMAL} ,
        	#{item.regAddress, jdbcType=VARCHAR} ,
        	#{item.busAddress, jdbcType=VARCHAR} ,
        	#{item.contact, jdbcType=VARCHAR} ,
        	#{item.mblNo, jdbcType=VARCHAR} ,
        	#{item.telNo, jdbcType=VARCHAR} ,
        	#{item.email, jdbcType=VARCHAR} ,
        	#{item.status, jdbcType=INTEGER} ,
        	#{item.delFlag, jdbcType=INTEGER} ,
        	#{item.filler1, jdbcType=VARCHAR} ,
        	#{item.filler2, jdbcType=VARCHAR} ,
        	#{item.filler3, jdbcType=VARCHAR} ,
        	#{item.version, jdbcType=INTEGER} 
    )
        </foreach>
    </insert>

    <update id="update" >
    <![CDATA[
        UPDATE acc_mch SET
	        create_time = #{createTime, jdbcType=TIMESTAMP} ,
	        last_update_time = #{lastUpdateTime, jdbcType=TIMESTAMP} ,
	        mch_id = #{mchId, jdbcType=BIGINT} ,
	        cust_id = #{custId, jdbcType=VARCHAR} ,
	        mch_name = #{mchName, jdbcType=VARCHAR} ,
	        acc_mcc_id = #{accMccId, jdbcType=BIGINT} ,
	        mcc = #{mcc, jdbcType=VARCHAR} ,
	        mch_nature = #{mchNature, jdbcType=INTEGER} ,
	        org_code = #{orgCode, jdbcType=VARCHAR} ,
	        reg_no = #{regNo, jdbcType=VARCHAR} ,
	        reg_amt = #{regAmt, jdbcType=DECIMAL} ,
	        reg_address = #{regAddress, jdbcType=VARCHAR} ,
	        bus_address = #{busAddress, jdbcType=VARCHAR} ,
	        contact = #{contact, jdbcType=VARCHAR} ,
	        mbl_no = #{mblNo, jdbcType=VARCHAR} ,
	        tel_no = #{telNo, jdbcType=VARCHAR} ,
	        email = #{email, jdbcType=VARCHAR} ,
	        status = #{status, jdbcType=INTEGER} ,
	        del_flag = #{delFlag, jdbcType=INTEGER} ,
	        filler1 = #{filler1, jdbcType=VARCHAR} ,
	        filler2 = #{filler2, jdbcType=VARCHAR} ,
	        filler3 = #{filler3, jdbcType=VARCHAR} ,
	        version = #{version, jdbcType=INTEGER} 
        WHERE 
	        id = #{id} 
    ]]>
    </update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM acc_mch WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="BaseResultMap">
	    SELECT <include refid="Base_Column_List" />
	    <![CDATA[
	        FROM acc_mch 
	        WHERE 
		        id = #{id} 
	    ]]>
    </select>

	<sql id="findWhere">
	    <where>
	    	<choose>
	    		<when test="queryType==0">
			       	<if test="null!=custId and ''!=custId ">
	   			 		AND cust_id = #{custId}
	   			   	</if>
			       	<if test="null!=mchName and ''!=mchName ">
	   			 		AND mch_name = #{mchName}
	   			   	</if>
			       	<if test="null!=mcc and ''!=mcc ">
	   			 		AND mcc = #{mcc}
	   			   	</if>
			       	<if test="null!=orgCode and ''!=orgCode ">
	   			 		AND org_code = #{orgCode}
	   			   	</if>
			       	<if test="null!=regNo and ''!=regNo ">
	   			 		AND reg_no = #{regNo}
	   			   	</if>
			       	<if test="null!=regAddress and ''!=regAddress ">
	   			 		AND reg_address = #{regAddress}
	   			   	</if>
			       	<if test="null!=busAddress and ''!=busAddress ">
	   			 		AND bus_address = #{busAddress}
	   			   	</if>
			       	<if test="null!=contact and ''!=contact ">
	   			 		AND contact = #{contact}
	   			   	</if>
			       	<if test="null!=mblNo and ''!=mblNo ">
	   			 		AND mbl_no = #{mblNo}
	   			   	</if>
			       	<if test="null!=telNo and ''!=telNo ">
	   			 		AND tel_no = #{telNo}
	   			   	</if>
			       	<if test="null!=email and ''!=email ">
	   			 		AND email = #{email}
	   			   	</if>
			       	<if test="null!=filler1 and ''!=filler1 ">
	   			 		AND filler1 = #{filler1}
	   			   	</if>
			       	<if test="null!=filler2 and ''!=filler2 ">
	   			 		AND filler2 = #{filler2}
	   			   	</if>
			       	<if test="null!=filler3 and ''!=filler3 ">
	   			 		AND filler3 = #{filler3}
	   			   	</if>
	       		</when>
	       		<otherwise>
				    <if test="null!=custId and ''!=custId">
				    <!-- 	AND cust_id LIKE '%'||#{custId}||'%' oracle -->
			   			AND cust_id LIKE concat('%',#{custId},'%')
			   			
			   		</if>
				    <if test="null!=mchName and ''!=mchName">
				    <!-- 	AND mch_name LIKE '%'||#{mchName}||'%' oracle -->
			   			AND mch_name LIKE concat('%',#{mchName},'%')
			   			
			   		</if>
				    <if test="null!=mcc and ''!=mcc">
				    <!-- 	AND mcc LIKE '%'||#{mcc}||'%' oracle -->
			   			AND mcc LIKE concat('%',#{mcc},'%')
			   			
			   		</if>
				    <if test="null!=orgCode and ''!=orgCode">
				    <!-- 	AND org_code LIKE '%'||#{orgCode}||'%' oracle -->
			   			AND org_code LIKE concat('%',#{orgCode},'%')
			   			
			   		</if>
				    <if test="null!=regNo and ''!=regNo">
				    <!-- 	AND reg_no LIKE '%'||#{regNo}||'%' oracle -->
			   			AND reg_no LIKE concat('%',#{regNo},'%')
			   			
			   		</if>
				    <if test="null!=regAddress and ''!=regAddress">
				    <!-- 	AND reg_address LIKE '%'||#{regAddress}||'%' oracle -->
			   			AND reg_address LIKE concat('%',#{regAddress},'%')
			   			
			   		</if>
				    <if test="null!=busAddress and ''!=busAddress">
				    <!-- 	AND bus_address LIKE '%'||#{busAddress}||'%' oracle -->
			   			AND bus_address LIKE concat('%',#{busAddress},'%')
			   			
			   		</if>
				    <if test="null!=contact and ''!=contact">
				    <!-- 	AND contact LIKE '%'||#{contact}||'%' oracle -->
			   			AND contact LIKE concat('%',#{contact},'%')
			   			
			   		</if>
				    <if test="null!=mblNo and ''!=mblNo">
				    <!-- 	AND mbl_no LIKE '%'||#{mblNo}||'%' oracle -->
			   			AND mbl_no LIKE concat('%',#{mblNo},'%')
			   			
			   		</if>
				    <if test="null!=telNo and ''!=telNo">
				    <!-- 	AND tel_no LIKE '%'||#{telNo}||'%' oracle -->
			   			AND tel_no LIKE concat('%',#{telNo},'%')
			   			
			   		</if>
				    <if test="null!=email and ''!=email">
				    <!-- 	AND email LIKE '%'||#{email}||'%' oracle -->
			   			AND email LIKE concat('%',#{email},'%')
			   			
			   		</if>
				    <if test="null!=filler1 and ''!=filler1">
				    <!-- 	AND filler1 LIKE '%'||#{filler1}||'%' oracle -->
			   			AND filler1 LIKE concat('%',#{filler1},'%')
			   			
			   		</if>
				    <if test="null!=filler2 and ''!=filler2">
				    <!-- 	AND filler2 LIKE '%'||#{filler2}||'%' oracle -->
			   			AND filler2 LIKE concat('%',#{filler2},'%')
			   			
			   		</if>
				    <if test="null!=filler3 and ''!=filler3">
				    <!-- 	AND filler3 LIKE '%'||#{filler3}||'%' oracle -->
			   			AND filler3 LIKE concat('%',#{filler3},'%')
			   			
			   		</if>
		        </otherwise>
	      	</choose>
		   	<if test="null!=id and ''!=id">
			    AND id = #{id}
			</if>
		   	<if test="null!=createTimeBegin and ''!=createTimeBegin">
		   		AND create_time >= #{createTimeBegin}
		   	</if>
		   	<if test="null!=createTimeEnd and ''!=createTimeEnd">
		   		AND create_time &lt; #{createTimeEnd}
		   	</if>
		   	<if test="null!=lastUpdateTimeBegin and ''!=lastUpdateTimeBegin">
		   		AND last_update_time >= #{lastUpdateTimeBegin}
		   	</if>
		   	<if test="null!=lastUpdateTimeEnd and ''!=lastUpdateTimeEnd">
		   		AND last_update_time &lt; #{lastUpdateTimeEnd}
		   	</if>
		   	<if test="null!=mchId and ''!=mchId">
			    AND mch_id = #{mchId}
			</if>
		   	<if test="null!=accMccId and ''!=accMccId">
			    AND acc_mcc_id = #{accMccId}
			</if>
		   	<if test="null!=mchNature and ''!=mchNature">
			    AND mch_nature = #{mchNature}
			</if>
		   	<if test="null!=regAmt and ''!=regAmt">
			    AND reg_amt = #{regAmt}
			</if>
		   	<if test="null!=status and ''!=status">
			    AND status = #{status}
			</if>
		   	<if test="null!=delFlag ">
			    AND del_flag = #{delFlag}
			</if>
		   	<if test="null!=version and ''!=version">
			    AND version = #{version}
			</if>
	    </where>
	</sql>
	 
    <select id="findPageCount" resultType="long">
        SELECT count(*) FROM acc_mch <include refid="findWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 #offset#,#pageSize#,#lastRows# 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="BaseResultMap">
    	SELECT <include refid="Base_Column_List" /> FROM acc_mch 
		<include refid="findWhere"/>
		<if test="null!=sortColumns and ''!=sortColumns">
			ORDER BY ${sortColumns}
		</if>
    </select>
	<select id="find" resultMap="BaseResultMap">
	    SELECT <include refid="Base_Column_List" /> FROM acc_mch 
		<include refid="findWhere"/>
		<if test="null!=sortColumns">
			ORDER BY ${sortColumns}
		</if>
    </select>
	<!-- 基础方法End -->
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from acc_mch
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		acc_mch
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insertSelective" parameterType="com.ink.user.core.po.AccMch">
		insert into acc_mch
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="lastUpdateTime != null">
				last_update_time,
			</if>
			<if test="mchId != null">
				mch_id,
			</if>
			<if test="custId != null">
				cust_id,
			</if>
			<if test="mchName != null">
				mch_name,
			</if>
			<if test="accMccId != null">
				acc_mcc_id,
			</if>
			<if test="mcc != null">
				mcc,
			</if>
			<if test="mchNature != null">
				mch_nature,
			</if>
			<if test="orgCode != null">
				org_code,
			</if>
			<if test="regNo != null">
				reg_no,
			</if>
			<if test="regAmt != null">
				reg_amt,
			</if>
			<if test="regAddress != null">
				reg_address,
			</if>
			<if test="busAddress != null">
				bus_address,
			</if>
			<if test="contact != null">
				contact,
			</if>
			<if test="mblNo != null">
				mbl_no,
			</if>
			<if test="telNo != null">
				tel_no,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="delFlag != null">
				del_flag,
			</if>
			<if test="filler1 != null">
				filler1,
			</if>
			<if test="filler2 != null">
				filler2,
			</if>
			<if test="filler3 != null">
				filler3,
			</if>
			<if test="version != null">
				version,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateTime != null">
				#{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="mchId != null">
				#{mchId,jdbcType=VARCHAR},
			</if>
			<if test="custId != null">
				#{custId,jdbcType=VARCHAR},
			</if>
			<if test="mchName != null">
				#{mchName,jdbcType=VARCHAR},
			</if>
			<if test="accMccId != null">
				#{accMccId,jdbcType=BIGINT},
			</if>
			<if test="mcc != null">
				#{mcc,jdbcType=VARCHAR},
			</if>
			<if test="mchNature != null">
				#{mchNature,jdbcType=INTEGER},
			</if>
			<if test="orgCode != null">
				#{orgCode,jdbcType=VARCHAR},
			</if>
			<if test="regNo != null">
				#{regNo,jdbcType=VARCHAR},
			</if>
			<if test="regAmt != null">
				#{regAmt,jdbcType=DECIMAL},
			</if>
			<if test="regAddress != null">
				#{regAddress,jdbcType=VARCHAR},
			</if>
			<if test="busAddress != null">
				#{busAddress,jdbcType=VARCHAR},
			</if>
			<if test="contact != null">
				#{contact,jdbcType=VARCHAR},
			</if>
			<if test="mblNo != null">
				#{mblNo,jdbcType=VARCHAR},
			</if>
			<if test="telNo != null">
				#{telNo,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=BIT},
			</if>
			<if test="filler1 != null">
				#{filler1,jdbcType=VARCHAR},
			</if>
			<if test="filler2 != null">
				#{filler2,jdbcType=VARCHAR},
			</if>
			<if test="filler3 != null">
				#{filler3,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ink.user.core.po.AccMch">
		update acc_mch
		<set>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateTime != null">
				last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="mchId != null">
				mch_id = #{mchId,jdbcType=VARCHAR},
			</if>
			<if test="custId != null">
				cust_id = #{custId,jdbcType=VARCHAR},
			</if>
			<if test="mchName != null">
				mch_name = #{mchName,jdbcType=VARCHAR},
			</if>
			<if test="accMccId != null">
				acc_mcc_id = #{accMccId,jdbcType=BIGINT},
			</if>
			<if test="mcc != null">
				mcc = #{mcc,jdbcType=VARCHAR},
			</if>
			<if test="mchNature != null">
				mch_nature = #{mchNature,jdbcType=INTEGER},
			</if>
			<if test="orgCode != null">
				org_code = #{orgCode,jdbcType=VARCHAR},
			</if>
			<if test="regNo != null">
				reg_no = #{regNo,jdbcType=VARCHAR},
			</if>
			<if test="regAmt != null">
				reg_amt = #{regAmt,jdbcType=DECIMAL},
			</if>
			<if test="regAddress != null">
				reg_address = #{regAddress,jdbcType=VARCHAR},
			</if>
			<if test="busAddress != null">
				bus_address = #{busAddress,jdbcType=VARCHAR},
			</if>
			<if test="contact != null">
				contact = #{contact,jdbcType=VARCHAR},
			</if>
			<if test="mblNo != null">
				mbl_no = #{mblNo,jdbcType=VARCHAR},
			</if>
			<if test="telNo != null">
				tel_no = #{telNo,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag,jdbcType=BIT},
			</if>
			<if test="filler1 != null">
				filler1 = #{filler1,jdbcType=VARCHAR},
			</if>
			<if test="filler2 != null">
				filler2 = #{filler2,jdbcType=VARCHAR},
			</if>
			<if test="filler3 != null">
				filler3 = #{filler3,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				version = #{version,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ink.user.core.po.AccMch">
		update acc_mch
		set
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		last_update_time =
		#{lastUpdateTime,jdbcType=TIMESTAMP},
		mch_id =
		#{mchId,jdbcType=VARCHAR},
		cust_id = #{custId,jdbcType=VARCHAR},
		mch_name = #{mchName,jdbcType=VARCHAR},
		acc_mcc_id =
		#{accMccId,jdbcType=BIGINT},
		mcc = #{mcc,jdbcType=VARCHAR},
		mch_nature =
		#{mchNature,jdbcType=INTEGER},
		org_code = #{orgCode,jdbcType=VARCHAR},
		reg_no = #{regNo,jdbcType=VARCHAR},
		reg_amt =
		#{regAmt,jdbcType=DECIMAL},
		reg_address =
		#{regAddress,jdbcType=VARCHAR},
		bus_address =
		#{busAddress,jdbcType=VARCHAR},
		contact = #{contact,jdbcType=VARCHAR},
		mbl_no = #{mblNo,jdbcType=VARCHAR},
		tel_no = #{telNo,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER},
		del_flag = #{delFlag,jdbcType=BIT},
		filler1 =
		#{filler1,jdbcType=VARCHAR},
		filler2 = #{filler2,jdbcType=VARCHAR},
		filler3 = #{filler3,jdbcType=VARCHAR},
		version =
		#{version,jdbcType=INTEGER}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!-- 根据订单号、商户号、日期查询订单信息 -->
	<select id="findByMchId" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM acc_mch
		WHERE mch_id=#{mchId,jdbcType=VARCHAR} AND status = 1 
			AND del_flag = 0
	</select>

	<!-- 查询所有商户信息 -->
	<select id="findAccMchAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from acc_mch where del_flag = 0
	</select>

</mapper>