<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="tfsOperator" class="com.ink.tfs.client.TFSOperator">
		<property name="uploadUrl" value="${yinker.tfs.uploadUrl}"/>
		<property name="downloadUrl" value="${yinker.tfs.downloadUrl}"/>
		<property name="contentType" value="${yinker.tfs.contentType}"/>
		<property name="encoding" value="${yinker.tfs.encoding}"/>
		<property name="timeout" value="${yinker.tfs.timeout}"/>
		<property name="uploadLargeUrl" value="${yinker.tfs.uploadLargeUrl}"/>
		<property name="deleteUrl" value="${yinker.tfs.deleteUrl}"/>
		<property name="downloadUrlById" value="${yinker.tfs.downloadUrlById}"/>
	</bean>

</beans>