<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!--<context:component-scan base-package="com.yinker.monitor.core.*" />-->
	<!--&lt;!&ndash; 服务监控调度 start &ndash;&gt;-->
	<!--<bean id="monitorServiceJob" class="com.yinker.monitor.core.task.job.MonitorServiceJob" />-->
	<!--&lt;!&ndash; JobDetail的配置 &ndash;&gt;-->
	<!--<bean id="monitorServiceJobDetail"-->
		<!--class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
		<!--<property name="targetObject" ref="monitorServiceJob" />-->
		<!--<property name="targetMethod" value="work" />-->
		<!--<property name="concurrent" value="false" />-->
		<!--&lt;!&ndash; 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程 &ndash;&gt;-->
	<!--</bean>-->
	<!--&lt;!&ndash; Trigger的配置 &ndash;&gt;-->
	<!--<bean id="monitorServiceJobTrigger"-->
		<!--class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">-->
		<!--<property name="jobDetail" ref="monitorServiceJobDetail" />-->
		<!--<property name="cronExpression" value="1/15 * * ? * *" />-->
	<!--</bean>-->
	<!--&lt;!&ndash; end &ndash;&gt;-->

	<!--&lt;!&ndash;调度载入定时工厂 &ndash;&gt;-->
	<!--<bean id="schedulerFactoryBean"-->
		<!--class="org.springframework.scheduling.quartz.SchedulerFactoryBean">-->
		<!--<property name="triggers">-->
			<!--<list>-->
				<!--&lt;!&ndash; 服务监控任务 &ndash;&gt;-->
				<!--<ref bean="monitorServiceJobTrigger" />-->
			<!--</list>-->
		<!--</property>-->
	<!--</bean>-->
	<!--&lt;!&ndash;调度载入定时工厂END &ndash;&gt;-->


</beans>
