<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd  
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <import resource="spring-conf.xml" />

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
          init-method="init" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="initialSize" value="${jdbc.ds.initialSize}" />
        <property name="maxActive" value="${jdbc.ds.maxActive}" />
        <property name="minIdle" value="${jdbc.ds.minIdle}" />
        <property name="timeBetweenEvictionRunsMillis" value="60000" />
        <property name="minEvictableIdleTimeMillis" value="300000" />
        <property name="validationQuery" value="select 1 from dual" />
        <property name="testWhileIdle" value="true" />
        <property name="testOnBorrow" value="false" />
        <property name="testOnReturn" value="false" />
        <property name="poolPreparedStatements" value="true" />
        <property name="removeAbandoned" value="true" />
        <property name="removeAbandonedTimeout" value="1800" />
    </bean>

    <!-- 数据源 -->
    <!--<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"-->
          <!--destroy-method="close">-->
       <!--<property name="driverClass" value="${YINKER_SCHEDULER_JDBC_DRIVER}" />-->
       <!--<property name="jdbcUrl" value="jdbc:mysql://${YINKER_SCHEDULER_JDBC_HOST}:${YINKER_SCHEDULER_JDBC_PORT}/${YINKER_SCHEDULER_JDBC_DBNAME}?useUnicode=true&amp;characterEncoding=utf-8&amp;zeroDateTimeBehavior=convertToNull&amp;autoReconnect=true" />-->
        <!--<property name="user" value="${YINKER_SCHEDULER_JDBC_USERNAME}" />-->
        <!--<property name="password" value="${YINKER_SCHEDULER_JDBC_PASSWORD}" />-->
        <!--<property name="initialPoolSize" value="${YINKER_SCHEDULER_DS_INITIALPOOLSIZE}" />-->
        <!--<property name="minPoolSize" value="${YINKER_SCHEDULER_DS_MINPOOLSIZE}" />-->
        <!--<property name="maxPoolSize" value="${YINKER_SCHEDULER_DS_MAXPOOLSIZE}" />-->
        <!--&lt;!&ndash; 最大空闲时间,单位:秒 &ndash;&gt;-->
        <!--<property name="maxIdleTime" value="60" />-->
        <!--<property name="acquireIncrement" value="3" />-->
        <!--<property name="maxStatements" value="0" />-->
        <!--&lt;!&ndash; 单位:秒 &ndash;&gt;-->
        <!--<property name="idleConnectionTestPeriod" value="60" />-->
        <!--&lt;!&ndash; 从数据库获取新连接失败后，重复尝试获取的次数 &ndash;&gt;-->
        <!--<property name="acquireRetryAttempts" value="10" />-->
        <!--<property name="breakAfterAcquireFailure" value="false" />-->
        <!--&lt;!&ndash; 在取得连接时测试连接的有效性，默认为false &ndash;&gt;-->
        <!--<property name="testConnectionOnCheckin" value="true" />-->
        <!--&lt;!&ndash; 在每个connection提交时是否校验其有效性。默认为false &ndash;&gt;-->
        <!--<property name="testConnectionOnCheckout" value="false" />-->
        <!--<property name="checkoutTimeout" value="50000" />-->
        <!--<property name="preferredTestQuery" value="SELECT 1 FROM DUAL" />-->
    <!--</bean>-->
    <!--
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
                 destroy-method="close">
    <property name="driverClassName" value="${jdbc.mysql.connection.driverClassName}"/>
    <property name="url" value="${jdbc.connection.url}"/>
    <property name="username" value="${jdbc.connection.username}"/>
    <property name="password" value="${jdbc.connection.password}"/>
    <property name="filters" value="${jdbc.connection.filters}"/>
    <property name="maxActive" value="${jdbc.connection.maxActive}"/>
    <property name="initialSize" value="${jdbc.connection.initialSize}"/>
    <property name="maxWait" value="${jdbc.connection.maxWait}"/>
    <property name="minIdle" value="${jdbc.connection.minIdle}"/>
    <property name="timeBetweenEvictionRunsMillis" value="${jdbc.connection.timeBetweenEvictionRunsMillis}"/>
    <property name="minEvictableIdleTimeMillis" value="${jdbc.connection.minEvictableIdleTimeMillis}"/>
    <property name="validationQuery" value="${jdbc.connection.validationQuery}"/>
    <property name="testWhileIdle" value="${jdbc.connection.testWhileIdle}"/>
    <property name="testOnBorrow" value="${jdbc.connection.testOnBorrow}"/>
    <property name="testOnReturn" value="${jdbc.connection.testOnReturn}"/>
    <property name="poolPreparedStatements" value="${jdbc.connection.poolPreparedStatements}"/>
    <property name="maxPoolPreparedStatementPerConnectionSize" value="${jdbc.connection.maxPoolPreparedStatementPerConnectionSize}"/>
</bean>
    -->

</beans>