<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<!-- 线程池配置 -->
	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="maxPoolSize" value="10" />
		<property name="queueCapacity" value="25" />
		<property name="keepAliveSeconds" value="300" />
		<property name="waitForTasksToCompleteOnShutdown" value="true" />
	</bean>
	<!-- ZK配置中心开始 -->
	<util:properties id="configToolkitProp" location="classpath:app.properties" />

	<bean id="commonProfile" class="com.ink.config.service.zookeeper.ZookeeperConfigProfile">
		<constructor-arg name="connectStr" value="#{configToolkitProp['config.center.connectStr']}" />
		<constructor-arg name="rootNode" value="#{configToolkitProp['config.center.rootNode.common']}" />
		<constructor-arg name="version" value="#{configToolkitProp['config.center.version']}" />
	</bean>

	<bean id="schedulerProfile" class="com.ink.config.service.zookeeper.ZookeeperConfigProfile">
		<constructor-arg name="connectStr" value="#{configToolkitProp['config.center.connectStr']}" />
		<constructor-arg name="rootNode" value="#{configToolkitProp['config.center.rootNode.scheduler']}" />
		<constructor-arg name="version" value="#{configToolkitProp['config.center.version']}" />
	</bean>

	<bean id="configGroupSources" class="com.ink.config.service.support.spring.ConfigGroupSourceFactory" factory-method="create">
		<constructor-arg name="configGroups">
			<list>
				<bean class="com.ink.config.service.zookeeper.ZookeeperConfigGroup" c:configProfile-ref="commonProfile" c:node="dubbo,rabbitmq,redis" />
				<bean class="com.ink.config.service.zookeeper.ZookeeperConfigGroup" c:configProfile-ref="schedulerProfile" c:node="jdbc,mongo,constant" />
			</list>
		</constructor-arg>
	</bean>
	<!--分布式锁-->
	<!--<bean id="distributeLock" class="com.yinker.base.utils.lock.DistributeLock">-->
		<!--<constructor-arg name="connectStr" value="#{configToolkitProp['lock.connectStr']}"  />-->
		<!--<constructor-arg name="waitTime" value="#{configToolkitProp['lock.waitTime']}" />-->
		<!--<constructor-arg name="maxLockTime" value="#{configToolkitProp['lock.maxLockTime']}" />-->
	<!--</bean>-->


	<bean id="customizedPropertyConfigurer" class="com.ink.config.service.support.spring.CustomizedPropertyConfigurer">
		<property name="order" value="1" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="propertySources" ref="configGroupSources" />
	</bean>
	<!-- ZK配置中心结束 -->
</beans>