<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:c="http://www.springframework.org/schema/c"
	   xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- ZK配置中心开始 -->
    <util:properties id="configToolkitProp" location="classpath:conf/app.properties" />
    
	
	<bean id="tradeWebCommonProfile" class="com.ink.config.service.zookeeper.ZookeeperConfigProfile">
		    <constructor-arg name="connectStr" value="#{configToolkitProp['config.center.connectStr']}" />
		    <constructor-arg name="rootNode" value="#{configToolkitProp['config.center.rootNode.common']}" />
		    <constructor-arg name="version" value="#{configToolkitProp['config.center.version']}" />
	</bean>
	
	<bean id="tradeWebChannelProfile" class="com.ink.config.service.zookeeper.ZookeeperConfigProfile">
		    <constructor-arg name="connectStr" value="#{configToolkitProp['config.center.connectStr']}" />
		    <constructor-arg name="rootNode" value="#{configToolkitProp['config.center.rootNode.channel']}" />
		    <constructor-arg name="version" value="#{configToolkitProp['config.center.version']}" />
	</bean>
	
	
	<bean id="configGroupSources" class="com.ink.config.service.support.spring.ConfigGroupSourceFactory" factory-method="create">
		    <constructor-arg name="configGroups">
		        <list>
		            <bean class="com.ink.config.service.zookeeper.ZookeeperConfigGroup" c:configProfile-ref="tradeWebCommonProfile" c:node="dubbo" />
		             <bean class="com.ink.config.service.zookeeper.ZookeeperConfigGroup" c:configProfile-ref="tradeWebChannelProfile" c:node="logback.mongo" />
		        </list>
		    </constructor-arg>
		</bean>
		
	
	<bean id="customizedPropertyConfigurer" class="com.ink.config.service.support.spring.CustomizedPropertyConfigurer">
	    <property name="order" value="1" />
	    <property name="ignoreUnresolvablePlaceholders" value="true" />
	    <property name="propertySources" ref="configGroupSources" />
	</bean>
	
	
	<!-- ZK配置中心结束 -->
</beans>