<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ink.platform.core.dao.SecLogDao" >
  <resultMap id="BaseResultMap" type="com.ink.platform.api.model.SecLog" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="action_type" property="actionType" jdbcType="VARCHAR" />
    <result column="action" property="action" jdbcType="VARCHAR" />
    <result column="record_before" property="recordBefore" jdbcType="VARCHAR" />
    <result column="record_after" property="recordAfter" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
     <result column="create_time" property="endTime"  />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id,action_type,action,record_before,record_after,result,
   create_time,
    version,del_flag,status,
    remark
  </sql>
  <insert id="insertSelective" parameterType="com.ink.platform.api.model.SecLog" >
    insert into sec_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="actionType != null" >
        action_type,
      </if>
      <if test="action != null" >
        action,
      </if>
      <if test="recordBefore != null" >
        record_before,
      </if>
      <if test="recordAfter != null" >
        record_after,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="actionType != null" >
        #{actionType,jdbcType=VARCHAR},
      </if>
      <if test="action != null" >
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="recordBefore != null" >
        #{recordBefore,jdbcType=VARCHAR},
      </if>
      <if test="recordAfter != null" >
        #{recordAfter,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sec_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <sql id="baseDynamicQuery">
		select
		<include refid="Base_Column_List" />
		from sec_log
		<include refid="dynamicPageWhere" />
		<if test="pageVO.orderBy!=null and pageVO.orderBy!=''">
			order by ${pageVO.orderBy}
		</if>
	</sql>
   <sql id="dynamicPageWhere">
   where 1=1
   <if test="queryEntity.userId != null and queryEntity.userId!=''" >
       and user_id = #{queryEntity.userId,jdbcType=BIGINT}
      </if>
      <if test="queryEntity.actionType != null  and queryEntity.actionType!=''" >
       and action_type = #{queryEntity.actionType,jdbcType=VARCHAR}
      </if>
      <if test="queryEntity.action != null  and queryEntity.action!=''" >
       and action = #{queryEntity.action,jdbcType=VARCHAR}
      </if>
      <if test="queryEntity.recordBefore != null  and queryEntity.recordBefore!=''" >
       and record_before = #{queryEntity.recordBefore,jdbcType=VARCHAR}
      </if>
      <if test="queryEntity.recordAfter != null  and queryEntity.recordAfter!=''" >
       and record_after = #{queryEntity.recordAfter,jdbcType=VARCHAR}
      </if>
      <if test="queryEntity.result != null  and queryEntity.result!=''" >
       and result = #{queryEntity.result,jdbcType=VARCHAR}
      </if>
      <if test="queryEntity.createTime != null  and queryEntity.createTime!=''" >
       and DATE_FORMAT(create_time,'%Y-%m-%d 00:00:00')<![CDATA[>=]]>#{queryEntity.createTime}
      </if>
       <if test="queryEntity.endTime != null  and queryEntity.endTime!=''" >
       and DATE_FORMAT(create_time,'%Y-%m-%d 00:00:00') <![CDATA[<=]]> #{queryEntity.endTime}
      </if>
      <if test="queryEntity.version != null  and queryEntity.version!=''" >
       and version = #{queryEntity.version,jdbcType=INTEGER}
      </if>
      <if test="queryEntity.delFlag != null  and queryEntity.delFlag!=''" >
       and del_flag = #{queryEntity.delFlag,jdbcType=TINYINT}
      </if>
      <if test="queryEntity.status != null  and queryEntity.status!=''" >
      and  status = #{queryEntity.status,jdbcType=TINYINT}
      </if>
      <if test="queryEntity.remark != null  and queryEntity.remark!=''" >
       and remark = #{queryEntity.remark,jdbcType=VARCHAR}
      </if>
      order by create_time desc
   </sql>

	<!-- 分页查询记录总记录数 -->
	<select id="selectListCount" resultType="int">
		SELECT
		count(1)
		FROM sec_log
		<include refid="dynamicPageWhere" />
	</select>
  <select id="selectList" resultMap="BaseResultMap">
		<choose>
			<when test="pageVO.totalPage&lt;0">
				<include refid="baseDynamicQuery" />
			</when>
			<otherwise>
				SELECT
				<include refid="Base_Column_List" />
				FROM sec_log
				<include refid="dynamicPageWhere" />
				<if test="pageVO.orderBy!=null and pageVO.orderBy!=''">
					order by ${pageVO.orderBy}
				</if>
				LIMIT #{pageVO.start, jdbcType=INTEGER},#{pageVO.pageSize,
				jdbcType=INTEGER}
			</otherwise>
		</choose>
	</select>
</mapper>