<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:rabbit="http://www.springframework.org/schema/rabbit" 
	   xmlns:ykrabbit="http://www.yinker.com/schema/ykrabbit" 
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   			http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context
       			http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/rabbit
                http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd
       http://www.yinker.com/schema/ykrabbit
                http://www.yinker.com/schema/ykrabbit/yinker-rabbit-1.0.xsd">

	<bean id="connectionFactory"
		class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
		<constructor-arg value="${rabbitmq.host}" />
		<property name="username" value="${rabbitmq.username}" />
		<property name="password" value="${rabbitmq.password}" />
		<property name="host" value="${rabbitmq.host}" />
		<property name="port" value="${rabbitmq.port}" />
	</bean>
	
	<rabbit:admin connection-factory="connectionFactory" />
	<ykrabbit:template id="amqpTemplate" connection-factory="connectionFactory"/>

</beans>