<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:ykrabbit="http://www.yinker.com/schema/ykrabbit" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.yinker.com/schema/ykrabbit http://www.yinker.com/schema/ykrabbit/yinker-rabbit-1.0.xsd
       http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.3.xsd">
	<!--<bean id="propertyConfigurer" class="com.yinker.asile.core.util.CustomizedPropertyPlaceholderConfigurer"> 
		<property name="locations"> <list> <value>classpath:/conf/app.properties</value> 
		</list> </property> <property name="fileEncoding" value="utf-8" /> </bean> -->
	<!--mq 工场 -->
	<bean id="connectionFactory"
		class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
		<constructor-arg value="${rabbitmq.host}" />
		<property name="username" value="${rabbitmq.username}" />
		<property name="password" value="${rabbitmq.password}" />
	</bean>
	<ykrabbit:template id="amqpTemplate" connection-factory="connectionFactory" />
	<rabbit:admin connection-factory="connectionFactory" />
	<!--业务队列 -->
	<!-- 对账业务prepare队列 -->
	<rabbit:queue name="yinker.balance.platform.notifyData"
		durable="true" auto-delete="false" exclusive="false" />
	<!-- 对账业务update队列 -->
	<rabbit:queue name="yinker.balance.platform.updateData"
		durable="true" auto-delete="false" exclusive="false" />

	<!-- 余额充值补偿队列 -->
	<rabbit:queue name="ACC30010.queue" durable="true"
		auto-delete="false" exclusive="false" />
	<!-- 活期充值补偿队列 -->
	<rabbit:queue name="ACC30150.queue" durable="true"
		auto-delete="false" exclusive="false" />
	<!-- 定期充值补偿队列 -->
	<rabbit:queue name="ACC30160.queue" durable="true"
		auto-delete="false" exclusive="false" />
	<!-- 余额提现受理补偿队列 -->
	<rabbit:queue name="ACC30060.queue " durable="true"
		auto-delete="false" exclusive="false" />
	<!-- 活期提现受理补偿队列 -->
	<rabbit:queue name="ACC30220.queue" durable="true"
		auto-delete="false" exclusive="false" />
	<!-- 定期提现受理补偿队列 -->
	<rabbit:queue name="ACC30240.queue " durable="true"
		auto-delete="false" exclusive="false" />
	<!-- 提现撤回补偿队列 -->
	<rabbit:queue name="ACC39080.queue " durable="true"
		auto-delete="false" exclusive="false" />
	<!-- 签约信息补偿补偿队列 -->
	<rabbit:queue name="ACC38070.queue " durable="true"
		auto-delete="false" exclusive="false" />

</beans>
