<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:ykrabbit="http://www.yinker.com/schema/ykrabbit" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.3.xsd http://www.yinker.com/schema/ykrabbit http://www.yinker.com/schema/ykrabbit/yinker-rabbit-1.0.xsd">

	<!--mq 工场 -->
	<bean id="connectionFactory"
		class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
		<constructor-arg value="${rabbitmq.host}" />
		<property name="username" value="${rabbitmq.username}" />
		<property name="password" value="${rabbitmq.password}" />
	</bean>
	<ykrabbit:template id="amqpTemplate"
		connection-factory="connectionFactory" />
	<rabbit:admin connection-factory="connectionFactory" />

	<!--业务队列 -->
	<!-- DEMO异步MQ -->
	<rabbit:queue name="yinker.balance.platform.notifyData"
		durable="true" auto-delete="false" exclusive="false" />

	<rabbit:queue name="yinker.balance.platform.updateData"
		durable="true" auto-delete="false" exclusive="false" />

	<bean id="platformNotifyConsumer" class="com.ink.balance.service.mq.PlatformNotifyConsumer" />
	<bean id="platformUpdateConsumer" class="com.ink.balance.service.mq.PlatformUpdateConsumer" />
	<ykrabbit:listener-container
		connection-factory="connectionFactory" concurrency="5">
		<ykrabbit:listener queues="yinker.balance.platform.notifyData"
			ref="platformNotifyConsumer" method="handle" />
		<ykrabbit:listener queues="yinker.balance.platform.updateData"
			ref="platformUpdateConsumer" method="handle" />
	</ykrabbit:listener-container>

	<rabbit:queue id="smsGatewayQueue" durable="true"
		auto-delete="false" exclusive="false" name="SmsGatewayQueue">
		<rabbit:queue-arguments>
			<entry key="x-dead-letter-exchange" value="messagingExchange.DLQ" />
		</rabbit:queue-arguments>
	</rabbit:queue>

</beans>
