<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AccMcc" >
  <resultMap id="BaseResultMap" type="com.yinker.user.core.po.AccMcc" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="owner" property="owner" jdbcType="VARCHAR" />
    <result column="owner_group" property="ownerGroup" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="mcc" property="mcc" jdbcType="VARCHAR" />
    <result column="mcc_range" property="mccRange" jdbcType="VARCHAR" />
    <result column="master_type" property="masterType" jdbcType="VARCHAR" />
    <result column="detail_type" property="detailType" jdbcType="VARCHAR" />
    <result column="fee_mode" property="feeMode" jdbcType="INTEGER" />
    <result column="fee_fix_amt" property="feeFixAmt" jdbcType="DECIMAL" />
    <result column="fee_rate" property="feeRate" jdbcType="DECIMAL" />
    <result column="fee_max_amt" property="feeMaxAmt" jdbcType="DECIMAL" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, owner, owner_group, create_time, last_update_time, mcc, mcc_range, master_type, 
    detail_type, fee_mode, fee_fix_amt, fee_rate, fee_max_amt, memo, version
  </sql>
  
  <!-- 基础方法Start -->
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
    insert into acc_mcc (id, owner, owner_group, 
      create_time, last_update_time, mcc, 
      mcc_range, master_type, detail_type, 
      fee_mode, fee_fix_amt, fee_rate, 
      fee_max_amt, memo, version
      )
    values (#{id,jdbcType=BIGINT}, #{owner,jdbcType=VARCHAR}, #{ownerGroup,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP}, #{mcc,jdbcType=VARCHAR}, 
      #{mccRange,jdbcType=VARCHAR}, #{masterType,jdbcType=VARCHAR}, #{detailType,jdbcType=VARCHAR}, 
      #{feeMode,jdbcType=INTEGER}, #{feeFixAmt,jdbcType=DECIMAL}, #{feeRate,jdbcType=DECIMAL}, 
      #{feeMaxAmt,jdbcType=DECIMAL}, #{memo,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}
      )
  </insert>
  
   <insert id="insertBatch"   parameterType="java.util.List">
      INSERT INTO acc_mcc ( <include refid="Base_Column_List" />) values
        <foreach collection="list" item="item" separator="," >
    (
        	#{item.id, jdbcType=BIGINT} ,
        	#{item.owner, jdbcType=VARCHAR} ,
        	#{item.ownerGroup, jdbcType=VARCHAR} ,
        	#{item.createTime, jdbcType=TIMESTAMP} ,
        	#{item.lastUpdateTime, jdbcType=TIMESTAMP} ,
        	#{item.mcc, jdbcType=VARCHAR} ,
        	#{item.mccRange, jdbcType=VARCHAR} ,
        	#{item.masterType, jdbcType=VARCHAR} ,
        	#{item.detailType, jdbcType=VARCHAR} ,
        	#{item.feeMode, jdbcType=BIT} ,
        	#{item.feeFixAmt, jdbcType=DECIMAL} ,
        	#{item.feeRate, jdbcType=DECIMAL} ,
        	#{item.feeMaxAmt, jdbcType=DECIMAL} ,
        	#{item.memo, jdbcType=VARCHAR} ,
        	#{item.version, jdbcType=INTEGER} 
    )
        </foreach>
    </insert>

    <update id="update" >
    <![CDATA[
        UPDATE acc_mcc SET
	        owner = #{owner, jdbcType=VARCHAR} ,
	        owner_group = #{ownerGroup, jdbcType=VARCHAR} ,
	        create_time = #{createTime, jdbcType=TIMESTAMP} ,
	        last_update_time = #{lastUpdateTime, jdbcType=TIMESTAMP} ,
	        mcc = #{mcc, jdbcType=VARCHAR} ,
	        mcc_range = #{mccRange, jdbcType=VARCHAR} ,
	        master_type = #{masterType, jdbcType=VARCHAR} ,
	        detail_type = #{detailType, jdbcType=VARCHAR} ,
	        fee_mode = #{feeMode, jdbcType=BIT} ,
	        fee_fix_amt = #{feeFixAmt, jdbcType=DECIMAL} ,
	        fee_rate = #{feeRate, jdbcType=DECIMAL} ,
	        fee_max_amt = #{feeMaxAmt, jdbcType=DECIMAL} ,
	        memo = #{memo, jdbcType=VARCHAR} ,
	        version = #{version, jdbcType=INTEGER} 
        WHERE 
	        id = #{id} 
    ]]>
    </update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM acc_mcc WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="BaseResultMap">
	    SELECT <include refid="Base_Column_List" />
	    <![CDATA[
	        FROM acc_mcc 
	        WHERE 
		        id = #{id} 
	    ]]>
    </select>

	<sql id="findWhere">
	    <where>
	    	<choose>
	    		<when test="queryType==0">
			       	<if test="null!=owner and ''!=owner ">
	   			 		AND owner = #{owner}
	   			   	</if>
			       	<if test="null!=ownerGroup and ''!=ownerGroup ">
	   			 		AND owner_group = #{ownerGroup}
	   			   	</if>
			       	<if test="null!=mcc and ''!=mcc ">
	   			 		AND mcc = #{mcc}
	   			   	</if>
			       	<if test="null!=mccRange and ''!=mccRange ">
	   			 		AND mcc_range = #{mccRange}
	   			   	</if>
			       	<if test="null!=masterType and ''!=masterType ">
	   			 		AND master_type = #{masterType}
	   			   	</if>
			       	<if test="null!=detailType and ''!=detailType ">
	   			 		AND detail_type = #{detailType}
	   			   	</if>
			       	<if test="null!=memo and ''!=memo ">
	   			 		AND memo = #{memo}
	   			   	</if>
	       		</when>
	       		<otherwise>
				    <if test="null!=owner and ''!=owner">
				    <!-- 	AND owner LIKE '%'||#{owner}||'%' oracle -->
			   			AND owner LIKE concat('%',#{owner},'%')
			   			
			   		</if>
				    <if test="null!=ownerGroup and ''!=ownerGroup">
				    <!-- 	AND owner_group LIKE '%'||#{ownerGroup}||'%' oracle -->
			   			AND owner_group LIKE concat('%',#{ownerGroup},'%')
			   			
			   		</if>
				    <if test="null!=mcc and ''!=mcc">
				    <!-- 	AND mcc LIKE '%'||#{mcc}||'%' oracle -->
			   			AND mcc LIKE concat('%',#{mcc},'%')
			   			
			   		</if>
				    <if test="null!=mccRange and ''!=mccRange">
				    <!-- 	AND mcc_range LIKE '%'||#{mccRange}||'%' oracle -->
			   			AND mcc_range LIKE concat('%',#{mccRange},'%')
			   			
			   		</if>
				    <if test="null!=masterType and ''!=masterType">
				    <!-- 	AND master_type LIKE '%'||#{masterType}||'%' oracle -->
			   			AND master_type LIKE concat('%',#{masterType},'%')
			   			
			   		</if>
				    <if test="null!=detailType and ''!=detailType">
				    <!-- 	AND detail_type LIKE '%'||#{detailType}||'%' oracle -->
			   			AND detail_type LIKE concat('%',#{detailType},'%')
			   			
			   		</if>
				    <if test="null!=memo and ''!=memo">
				    <!-- 	AND memo LIKE '%'||#{memo}||'%' oracle -->
			   			AND memo LIKE concat('%',#{memo},'%')
			   			
			   		</if>
		        </otherwise>
	      	</choose>
		   	<if test="null!=id and ''!=id">
			    AND id = #{id}
			</if>
		   	<if test="null!=createTimeBegin and ''!=createTimeBegin">
		   		AND create_time >= #{createTimeBegin}
		   	</if>
		   	<if test="null!=createTimeEnd and ''!=createTimeEnd">
		   		AND create_time &lt; #{createTimeEnd}
		   	</if>
		   	<if test="null!=lastUpdateTimeBegin and ''!=lastUpdateTimeBegin">
		   		AND last_update_time >= #{lastUpdateTimeBegin}
		   	</if>
		   	<if test="null!=lastUpdateTimeEnd and ''!=lastUpdateTimeEnd">
		   		AND last_update_time &lt; #{lastUpdateTimeEnd}
		   	</if>
		   	<if test="null!=feeMode and ''!=feeMode">
			    AND fee_mode = #{feeMode}
			</if>
		   	<if test="null!=feeFixAmt and ''!=feeFixAmt">
			    AND fee_fix_amt = #{feeFixAmt}
			</if>
		   	<if test="null!=feeRate and ''!=feeRate">
			    AND fee_rate = #{feeRate}
			</if>
		   	<if test="null!=feeMaxAmt and ''!=feeMaxAmt">
			    AND fee_max_amt = #{feeMaxAmt}
			</if>
		   	<if test="null!=version and ''!=version">
			    AND version = #{version}
			</if>
	    </where>
	</sql>
	 
    <select id="findPageCount" resultType="long">
        SELECT count(*) FROM acc_mcc <include refid="findWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 #offset#,#pageSize#,#lastRows# 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="BaseResultMap">
    	SELECT <include refid="Base_Column_List" /> FROM acc_mcc 
		<include refid="findWhere"/>
		<if test="null!=sortColumns and ''!=sortColumns">
			ORDER BY ${sortColumns}
		</if>
    </select>

    <select id="getByMcc" resultMap="BaseResultMap" >
	    SELECT <include refid="Base_Column_List" />
	    <![CDATA[
	        FROM acc_mcc WHERE mcc = #mcc#
	    ]]>
    </select>
    
	
	<select id="find" resultMap="BaseResultMap">
	    SELECT <include refid="Base_Column_List" /> FROM acc_mcc 
		<include refid="findWhere"/>
		<if test="null!=sortColumns">
			ORDER BY ${sortColumns}
		</if>
    </select>
  <!-- 基础方法End -->
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from acc_mcc
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from acc_mcc
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.yinker.user.core.po.AccMcc" >
    insert into acc_mcc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="owner != null" >
        owner,
      </if>
      <if test="ownerGroup != null" >
        owner_group,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="mcc != null" >
        mcc,
      </if>
      <if test="mccRange != null" >
        mcc_range,
      </if>
      <if test="masterType != null" >
        master_type,
      </if>
      <if test="detailType != null" >
        detail_type,
      </if>
      <if test="feeMode != null" >
        fee_mode,
      </if>
      <if test="feeFixAmt != null" >
        fee_fix_amt,
      </if>
      <if test="feeRate != null" >
        fee_rate,
      </if>
      <if test="feeMaxAmt != null" >
        fee_max_amt,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="ownerGroup != null" >
        #{ownerGroup,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mcc != null" >
        #{mcc,jdbcType=VARCHAR},
      </if>
      <if test="mccRange != null" >
        #{mccRange,jdbcType=VARCHAR},
      </if>
      <if test="masterType != null" >
        #{masterType,jdbcType=VARCHAR},
      </if>
      <if test="detailType != null" >
        #{detailType,jdbcType=VARCHAR},
      </if>
      <if test="feeMode != null" >
        #{feeMode,jdbcType=INTEGER},
      </if>
      <if test="feeFixAmt != null" >
        #{feeFixAmt,jdbcType=DECIMAL},
      </if>
      <if test="feeRate != null" >
        #{feeRate,jdbcType=DECIMAL},
      </if>
      <if test="feeMaxAmt != null" >
        #{feeMaxAmt,jdbcType=DECIMAL},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yinker.user.core.po.AccMcc" >
    update acc_mcc
    <set >
      <if test="owner != null" >
        owner = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="ownerGroup != null" >
        owner_group = #{ownerGroup,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mcc != null" >
        mcc = #{mcc,jdbcType=VARCHAR},
      </if>
      <if test="mccRange != null" >
        mcc_range = #{mccRange,jdbcType=VARCHAR},
      </if>
      <if test="masterType != null" >
        master_type = #{masterType,jdbcType=VARCHAR},
      </if>
      <if test="detailType != null" >
        detail_type = #{detailType,jdbcType=VARCHAR},
      </if>
      <if test="feeMode != null" >
        fee_mode = #{feeMode,jdbcType=INTEGER},
      </if>
      <if test="feeFixAmt != null" >
        fee_fix_amt = #{feeFixAmt,jdbcType=DECIMAL},
      </if>
      <if test="feeRate != null" >
        fee_rate = #{feeRate,jdbcType=DECIMAL},
      </if>
      <if test="feeMaxAmt != null" >
        fee_max_amt = #{feeMaxAmt,jdbcType=DECIMAL},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yinker.user.core.po.AccMcc" >
    update acc_mcc
    set owner = #{owner,jdbcType=VARCHAR},
      owner_group = #{ownerGroup,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      mcc = #{mcc,jdbcType=VARCHAR},
      mcc_range = #{mccRange,jdbcType=VARCHAR},
      master_type = #{masterType,jdbcType=VARCHAR},
      detail_type = #{detailType,jdbcType=VARCHAR},
      fee_mode = #{feeMode,jdbcType=INTEGER},
      fee_fix_amt = #{feeFixAmt,jdbcType=DECIMAL},
      fee_rate = #{feeRate,jdbcType=DECIMAL},
      fee_max_amt = #{feeMaxAmt,jdbcType=DECIMAL},
      memo = #{memo,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
	<select id="findAccMccAll" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from acc_mcc
	</select>
  
</mapper>