<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AccPac" >
  <resultMap id="BaseResultMap" type="com.ink.user.core.po.AccPac" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="owner" property="owner" jdbcType="VARCHAR" />
    <result column="owner_group" property="ownerGroup" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="pac_id" property="pacId" jdbcType="VARCHAR" />
    <result column="acc_prod_id" property="accProdId" jdbcType="BIGINT" />
    <result column="prod_id" property="prodId" jdbcType="VARCHAR" />
    <result column="cust_type" property="custType" jdbcType="INTEGER" />
    <result column="day_in_amt" property="dayInAmt" jdbcType="DECIMAL" />
    <result column="day_in_cnt" property="dayInCnt" jdbcType="INTEGER" />
    <result column="day_pay_amt" property="dayPayAmt" jdbcType="DECIMAL" />
    <result column="day_pay_cnt" property="dayPayCnt" jdbcType="INTEGER" />
    <result column="mon_in_amt" property="monInAmt" jdbcType="DECIMAL" />
    <result column="mon_in_cnt" property="monInCnt" jdbcType="INTEGER" />
    <result column="mon_pay_amt" property="monPayAmt" jdbcType="DECIMAL" />
    <result column="mon_pay_cnt" property="monPayCnt" jdbcType="INTEGER" />
    <result column="day_nopswd_amt" property="dayNopswdAmt" jdbcType="DECIMAL" />
    <result column="day_nopswd_cnt" property="dayNopswdCnt" jdbcType="INTEGER" />
    <result column="day_inlmt_amt" property="dayInlmtAmt" jdbcType="DECIMAL" />
    <result column="day_inlmt_cnt" property="dayInlmtCnt" jdbcType="INTEGER" />
    <result column="day_paylmt_amt" property="dayPaylmtAmt" jdbcType="DECIMAL" />
    <result column="day_paylmt_cnt" property="dayPaylmtCnt" jdbcType="INTEGER" />
    <result column="mon_inlmt_amt" property="monInlmtAmt" jdbcType="DECIMAL" />
    <result column="mon_inlmt_cnt" property="monInlmtCnt" jdbcType="INTEGER" />
    <result column="mon_paylmt_amt" property="monPaylmtAmt" jdbcType="DECIMAL" />
    <result column="mon_paylmt_cnt" property="monPaylmtCnt" jdbcType="INTEGER" />
    <result column="day_nopswdlmt_amt" property="dayNopswdlmtAmt" jdbcType="DECIMAL" />
    <result column="day_nopswdlmt_cnt" property="dayNopswdlmtCnt" jdbcType="INTEGER" />
    <result column="open_date" property="openDate" jdbcType="DATE" />
    <result column="close_date" property="closeDate" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, owner, owner_group, create_time, last_update_time, pac_id, acc_prod_id, prod_id, 
    cust_type, day_in_amt, day_in_cnt, day_pay_amt, day_pay_cnt, mon_in_amt, mon_in_cnt, 
    mon_pay_amt, mon_pay_cnt, day_nopswd_amt, day_nopswd_cnt, day_inlmt_amt, day_inlmt_cnt, 
    day_paylmt_amt, day_paylmt_cnt, mon_inlmt_amt, mon_inlmt_cnt, mon_paylmt_amt, mon_paylmt_cnt, 
    day_nopswdlmt_amt, day_nopswdlmt_cnt, open_date, close_date, status, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from acc_pac
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByPacId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from acc_pac
    where pac_id = #{pacId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from acc_pac
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ink.user.core.po.AccPac" >
    insert into acc_pac (id, owner, owner_group, 
      create_time, last_update_time, pac_id, 
      acc_prod_id, prod_id, cust_type, 
      day_in_amt, day_in_cnt, day_pay_amt, 
      day_pay_cnt, mon_in_amt, mon_in_cnt, 
      mon_pay_amt, mon_pay_cnt, day_nopswd_amt, 
      day_nopswd_cnt, day_inlmt_amt, day_inlmt_cnt, 
      day_paylmt_amt, day_paylmt_cnt, mon_inlmt_amt, 
      mon_inlmt_cnt, mon_paylmt_amt, mon_paylmt_cnt, 
      day_nopswdlmt_amt, day_nopswdlmt_cnt, open_date, 
      close_date, status, version
      )
    values (#{id,jdbcType=BIGINT}, #{owner,jdbcType=VARCHAR}, #{ownerGroup,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP}, #{pacId,jdbcType=VARCHAR}, 
      #{accProdId,jdbcType=BIGINT}, #{prodId,jdbcType=VARCHAR}, #{custType,jdbcType=INTEGER}, 
      #{dayInAmt,jdbcType=DECIMAL}, #{dayInCnt,jdbcType=INTEGER}, #{dayPayAmt,jdbcType=DECIMAL}, 
      #{dayPayCnt,jdbcType=INTEGER}, #{monInAmt,jdbcType=DECIMAL}, #{monInCnt,jdbcType=INTEGER}, 
      #{monPayAmt,jdbcType=DECIMAL}, #{monPayCnt,jdbcType=INTEGER}, #{dayNopswdAmt,jdbcType=DECIMAL}, 
      #{dayNopswdCnt,jdbcType=INTEGER}, #{dayInlmtAmt,jdbcType=DECIMAL}, #{dayInlmtCnt,jdbcType=INTEGER}, 
      #{dayPaylmtAmt,jdbcType=DECIMAL}, #{dayPaylmtCnt,jdbcType=INTEGER}, #{monInlmtAmt,jdbcType=DECIMAL}, 
      #{monInlmtCnt,jdbcType=INTEGER}, #{monPaylmtAmt,jdbcType=DECIMAL}, #{monPaylmtCnt,jdbcType=INTEGER}, 
      #{dayNopswdlmtAmt,jdbcType=DECIMAL}, #{dayNopswdlmtCnt,jdbcType=INTEGER}, #{openDate,jdbcType=DATE}, 
      #{closeDate,jdbcType=DATE}, #{status,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ink.user.core.po.AccPac" >
    insert into acc_pac
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="owner != null" >
        owner,
      </if>
      <if test="ownerGroup != null" >
        owner_group,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="pacId != null" >
        pac_id,
      </if>
      <if test="accProdId != null" >
        acc_prod_id,
      </if>
      <if test="prodId != null" >
        prod_id,
      </if>
      <if test="custType != null" >
        cust_type,
      </if>
      <if test="dayInAmt != null" >
        day_in_amt,
      </if>
      <if test="dayInCnt != null" >
        day_in_cnt,
      </if>
      <if test="dayPayAmt != null" >
        day_pay_amt,
      </if>
      <if test="dayPayCnt != null" >
        day_pay_cnt,
      </if>
      <if test="monInAmt != null" >
        mon_in_amt,
      </if>
      <if test="monInCnt != null" >
        mon_in_cnt,
      </if>
      <if test="monPayAmt != null" >
        mon_pay_amt,
      </if>
      <if test="monPayCnt != null" >
        mon_pay_cnt,
      </if>
      <if test="dayNopswdAmt != null" >
        day_nopswd_amt,
      </if>
      <if test="dayNopswdCnt != null" >
        day_nopswd_cnt,
      </if>
      <if test="dayInlmtAmt != null" >
        day_inlmt_amt,
      </if>
      <if test="dayInlmtCnt != null" >
        day_inlmt_cnt,
      </if>
      <if test="dayPaylmtAmt != null" >
        day_paylmt_amt,
      </if>
      <if test="dayPaylmtCnt != null" >
        day_paylmt_cnt,
      </if>
      <if test="monInlmtAmt != null" >
        mon_inlmt_amt,
      </if>
      <if test="monInlmtCnt != null" >
        mon_inlmt_cnt,
      </if>
      <if test="monPaylmtAmt != null" >
        mon_paylmt_amt,
      </if>
      <if test="monPaylmtCnt != null" >
        mon_paylmt_cnt,
      </if>
      <if test="dayNopswdlmtAmt != null" >
        day_nopswdlmt_amt,
      </if>
      <if test="dayNopswdlmtCnt != null" >
        day_nopswdlmt_cnt,
      </if>
      <if test="openDate != null" >
        open_date,
      </if>
      <if test="closeDate != null" >
        close_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="ownerGroup != null" >
        #{ownerGroup,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pacId != null" >
        #{pacId,jdbcType=VARCHAR},
      </if>
      <if test="accProdId != null" >
        #{accProdId,jdbcType=BIGINT},
      </if>
      <if test="prodId != null" >
        #{prodId,jdbcType=VARCHAR},
      </if>
      <if test="custType != null" >
        #{custType,jdbcType=INTEGER},
      </if>
      <if test="dayInAmt != null" >
        #{dayInAmt,jdbcType=DECIMAL},
      </if>
      <if test="dayInCnt != null" >
        #{dayInCnt,jdbcType=INTEGER},
      </if>
      <if test="dayPayAmt != null" >
        #{dayPayAmt,jdbcType=DECIMAL},
      </if>
      <if test="dayPayCnt != null" >
        #{dayPayCnt,jdbcType=INTEGER},
      </if>
      <if test="monInAmt != null" >
        #{monInAmt,jdbcType=DECIMAL},
      </if>
      <if test="monInCnt != null" >
        #{monInCnt,jdbcType=INTEGER},
      </if>
      <if test="monPayAmt != null" >
        #{monPayAmt,jdbcType=DECIMAL},
      </if>
      <if test="monPayCnt != null" >
        #{monPayCnt,jdbcType=INTEGER},
      </if>
      <if test="dayNopswdAmt != null" >
        #{dayNopswdAmt,jdbcType=DECIMAL},
      </if>
      <if test="dayNopswdCnt != null" >
        #{dayNopswdCnt,jdbcType=INTEGER},
      </if>
      <if test="dayInlmtAmt != null" >
        #{dayInlmtAmt,jdbcType=DECIMAL},
      </if>
      <if test="dayInlmtCnt != null" >
        #{dayInlmtCnt,jdbcType=INTEGER},
      </if>
      <if test="dayPaylmtAmt != null" >
        #{dayPaylmtAmt,jdbcType=DECIMAL},
      </if>
      <if test="dayPaylmtCnt != null" >
        #{dayPaylmtCnt,jdbcType=INTEGER},
      </if>
      <if test="monInlmtAmt != null" >
        #{monInlmtAmt,jdbcType=DECIMAL},
      </if>
      <if test="monInlmtCnt != null" >
        #{monInlmtCnt,jdbcType=INTEGER},
      </if>
      <if test="monPaylmtAmt != null" >
        #{monPaylmtAmt,jdbcType=DECIMAL},
      </if>
      <if test="monPaylmtCnt != null" >
        #{monPaylmtCnt,jdbcType=INTEGER},
      </if>
      <if test="dayNopswdlmtAmt != null" >
        #{dayNopswdlmtAmt,jdbcType=DECIMAL},
      </if>
      <if test="dayNopswdlmtCnt != null" >
        #{dayNopswdlmtCnt,jdbcType=INTEGER},
      </if>
      <if test="openDate != null" >
        #{openDate,jdbcType=DATE},
      </if>
      <if test="closeDate != null" >
        #{closeDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ink.user.core.po.AccPac" >
    update acc_pac
    <set >
      <if test="owner != null" >
        owner = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="ownerGroup != null" >
        owner_group = #{ownerGroup,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pacId != null" >
        pac_id = #{pacId,jdbcType=VARCHAR},
      </if>
      <if test="accProdId != null" >
        acc_prod_id = #{accProdId,jdbcType=BIGINT},
      </if>
      <if test="prodId != null" >
        prod_id = #{prodId,jdbcType=VARCHAR},
      </if>
      <if test="custType != null" >
        cust_type = #{custType,jdbcType=INTEGER},
      </if>
      <if test="dayInAmt != null" >
        day_in_amt = #{dayInAmt,jdbcType=DECIMAL},
      </if>
      <if test="dayInCnt != null" >
        day_in_cnt = #{dayInCnt,jdbcType=INTEGER},
      </if>
      <if test="dayPayAmt != null" >
        day_pay_amt = #{dayPayAmt,jdbcType=DECIMAL},
      </if>
      <if test="dayPayCnt != null" >
        day_pay_cnt = #{dayPayCnt,jdbcType=INTEGER},
      </if>
      <if test="monInAmt != null" >
        mon_in_amt = #{monInAmt,jdbcType=DECIMAL},
      </if>
      <if test="monInCnt != null" >
        mon_in_cnt = #{monInCnt,jdbcType=INTEGER},
      </if>
      <if test="monPayAmt != null" >
        mon_pay_amt = #{monPayAmt,jdbcType=DECIMAL},
      </if>
      <if test="monPayCnt != null" >
        mon_pay_cnt = #{monPayCnt,jdbcType=INTEGER},
      </if>
      <if test="dayNopswdAmt != null" >
        day_nopswd_amt = #{dayNopswdAmt,jdbcType=DECIMAL},
      </if>
      <if test="dayNopswdCnt != null" >
        day_nopswd_cnt = #{dayNopswdCnt,jdbcType=INTEGER},
      </if>
      <if test="dayInlmtAmt != null" >
        day_inlmt_amt = #{dayInlmtAmt,jdbcType=DECIMAL},
      </if>
      <if test="dayInlmtCnt != null" >
        day_inlmt_cnt = #{dayInlmtCnt,jdbcType=INTEGER},
      </if>
      <if test="dayPaylmtAmt != null" >
        day_paylmt_amt = #{dayPaylmtAmt,jdbcType=DECIMAL},
      </if>
      <if test="dayPaylmtCnt != null" >
        day_paylmt_cnt = #{dayPaylmtCnt,jdbcType=INTEGER},
      </if>
      <if test="monInlmtAmt != null" >
        mon_inlmt_amt = #{monInlmtAmt,jdbcType=DECIMAL},
      </if>
      <if test="monInlmtCnt != null" >
        mon_inlmt_cnt = #{monInlmtCnt,jdbcType=INTEGER},
      </if>
      <if test="monPaylmtAmt != null" >
        mon_paylmt_amt = #{monPaylmtAmt,jdbcType=DECIMAL},
      </if>
      <if test="monPaylmtCnt != null" >
        mon_paylmt_cnt = #{monPaylmtCnt,jdbcType=INTEGER},
      </if>
      <if test="dayNopswdlmtAmt != null" >
        day_nopswdlmt_amt = #{dayNopswdlmtAmt,jdbcType=DECIMAL},
      </if>
      <if test="dayNopswdlmtCnt != null" >
        day_nopswdlmt_cnt = #{dayNopswdlmtCnt,jdbcType=INTEGER},
      </if>
      <if test="openDate != null" >
        open_date = #{openDate,jdbcType=DATE},
      </if>
      <if test="closeDate != null" >
        close_date = #{closeDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ink.user.core.po.AccPac" >
    update acc_pac
    set owner = #{owner,jdbcType=VARCHAR},
      owner_group = #{ownerGroup,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      pac_id = #{pacId,jdbcType=VARCHAR},
      acc_prod_id = #{accProdId,jdbcType=BIGINT},
      prod_id = #{prodId,jdbcType=VARCHAR},
      cust_type = #{custType,jdbcType=INTEGER},
      day_in_amt = #{dayInAmt,jdbcType=DECIMAL},
      day_in_cnt = #{dayInCnt,jdbcType=INTEGER},
      day_pay_amt = #{dayPayAmt,jdbcType=DECIMAL},
      day_pay_cnt = #{dayPayCnt,jdbcType=INTEGER},
      mon_in_amt = #{monInAmt,jdbcType=DECIMAL},
      mon_in_cnt = #{monInCnt,jdbcType=INTEGER},
      mon_pay_amt = #{monPayAmt,jdbcType=DECIMAL},
      mon_pay_cnt = #{monPayCnt,jdbcType=INTEGER},
      day_nopswd_amt = #{dayNopswdAmt,jdbcType=DECIMAL},
      day_nopswd_cnt = #{dayNopswdCnt,jdbcType=INTEGER},
      day_inlmt_amt = #{dayInlmtAmt,jdbcType=DECIMAL},
      day_inlmt_cnt = #{dayInlmtCnt,jdbcType=INTEGER},
      day_paylmt_amt = #{dayPaylmtAmt,jdbcType=DECIMAL},
      day_paylmt_cnt = #{dayPaylmtCnt,jdbcType=INTEGER},
      mon_inlmt_amt = #{monInlmtAmt,jdbcType=DECIMAL},
      mon_inlmt_cnt = #{monInlmtCnt,jdbcType=INTEGER},
      mon_paylmt_amt = #{monPaylmtAmt,jdbcType=DECIMAL},
      mon_paylmt_cnt = #{monPaylmtCnt,jdbcType=INTEGER},
      day_nopswdlmt_amt = #{dayNopswdlmtAmt,jdbcType=DECIMAL},
      day_nopswdlmt_cnt = #{dayNopswdlmtCnt,jdbcType=INTEGER},
      open_date = #{openDate,jdbcType=DATE},
      close_date = #{closeDate,jdbcType=DATE},
      status = #{status,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="clearDayAmtAndCnt"  >
    update acc_pac
    set 
      last_update_time = now(),
      day_in_amt = 0.00,
      day_in_cnt = 0,
      day_pay_amt = 0.00,
      day_pay_cnt = 0,
      day_nopswd_amt = 0.00,
      day_nopswd_cnt = 0
  </update>
  
  <update id="clearDayAndMonAmtAndCnt"  >
    update acc_pac
    set 
      last_update_time = now(),
      day_in_amt = 0.00,
      day_in_cnt = 0,
      day_pay_amt = 0.00,
      day_pay_cnt = 0,
      day_nopswd_amt = 0.00,
      day_nopswd_cnt = 0,
      mon_in_amt = 0.00,
      mon_in_cnt = 0,
      mon_pay_amt = 0.00,
      mon_pay_cnt = 0
      <!-- ,mon_nopswd_amt = 0.00,
      mon_nopswd_cnt = 0 -->
  </update>
  
  <select id="getById" resultMap="BaseResultMap">
	    SELECT <include refid="Base_Column_List"/>
	    <![CDATA[
	        FROM acc_pac 
	        WHERE 
		        id = #{id} 
	    ]]>
    </select>
	<!-- 分页使用 -->
	<sql id="findWhere">
	    <where>
	    	<choose>
	    		<when test="queryType==0">
			       	<if test="null!=owner and ''!=owner ">
	   			 		AND owner = #{owner}
	   			   	</if>
			       	<if test="null!=ownerGroup and ''!=ownerGroup ">
	   			 		AND owner_group = #{ownerGroup}
	   			   	</if>
			       	<if test="null!=pacId and ''!=pacId ">
	   			 		AND pac_id = #{pacId}
	   			   	</if>
			       	<if test="null!=prodId and ''!=prodId ">
	   			 		AND prod_id = #{prodId}
	   			   	</if>
	       		</when>
	       		<otherwise>
				    <if test="null!=owner and ''!=owner">
				    <!-- 	AND owner LIKE '%'||#{owner}||'%' oracle -->
			   			AND owner LIKE concat('%',#{owner},'%')
			   			
			   		</if>
				    <if test="null!=ownerGroup and ''!=ownerGroup">
				    <!-- 	AND owner_group LIKE '%'||#{ownerGroup}||'%' oracle -->
			   			AND owner_group LIKE concat('%',#{ownerGroup},'%')
			   			
			   		</if>
				    <if test="null!=pacId and ''!=pacId">
				    <!-- 	AND pac_id LIKE '%'||#{pacId}||'%' oracle -->
			   			AND pac_id LIKE concat('%',#{pacId},'%')
			   			
			   		</if>
				    <if test="null!=prodId and ''!=prodId">
				    <!-- 	AND prod_id LIKE '%'||#{prodId}||'%' oracle -->
			   			AND prod_id LIKE concat('%',#{prodId},'%')
			   			
			   		</if>
		        </otherwise>
	      	</choose>
		   	<if test="null!=id and ''!=id">
			    AND id = #{id}
			</if>
		   	<if test="null!=createTimeBegin and ''!=createTimeBegin">
		   		AND create_time >= #{createTimeBegin}
		   	</if>
		   	<if test="null!=createTimeEnd and ''!=createTimeEnd">
		   		AND create_time &lt; #{createTimeEnd}
		   	</if>
		   	<if test="null!=lastUpdateTimeBegin and ''!=lastUpdateTimeBegin">
		   		AND last_update_time >= #{lastUpdateTimeBegin}
		   	</if>
		   	<if test="null!=lastUpdateTimeEnd and ''!=lastUpdateTimeEnd">
		   		AND last_update_time &lt; #{lastUpdateTimeEnd}
		   	</if>
		   	<if test="null!=accProdId and ''!=accProdId">
			    AND acc_prod_id = #{accProdId}
			</if>
		   	<if test="null!=custType and ''!=custType">
			    AND cust_type = #{custType}
			</if>
		   	<if test="null!=dayInAmt and ''!=dayInAmt">
			    AND day_in_amt = #{dayInAmt}
			</if>
		   	<if test="null!=dayInCnt and ''!=dayInCnt">
			    AND day_in_cnt = #{dayInCnt}
			</if>
		   	<if test="null!=dayPayAmt and ''!=dayPayAmt">
			    AND day_pay_amt = #{dayPayAmt}
			</if>
		   	<if test="null!=dayPayCnt and ''!=dayPayCnt">
			    AND day_pay_cnt = #{dayPayCnt}
			</if>
		   	<if test="null!=monInAmt and ''!=monInAmt">
			    AND mon_in_amt = #{monInAmt}
			</if>
		   	<if test="null!=monInCnt and ''!=monInCnt">
			    AND mon_in_cnt = #{monInCnt}
			</if>
		   	<if test="null!=monPayAmt and ''!=monPayAmt">
			    AND mon_pay_amt = #{monPayAmt}
			</if>
		   	<if test="null!=monPayCnt and ''!=monPayCnt">
			    AND mon_pay_cnt = #{monPayCnt}
			</if>
		   	<if test="null!=dayNopswdAmt and ''!=dayNopswdAmt">
			    AND day_nopswd_amt = #{dayNopswdAmt}
			</if>
		   	<if test="null!=dayNopswdCnt and ''!=dayNopswdCnt">
			    AND day_nopswd_cnt = #{dayNopswdCnt}
			</if>
		   	<if test="null!=dayInlmtAmt and ''!=dayInlmtAmt">
			    AND day_inlmt_amt = #{dayInlmtAmt}
			</if>
		   	<if test="null!=dayInlmtCnt and ''!=dayInlmtCnt">
			    AND day_inlmt_cnt = #{dayInlmtCnt}
			</if>
		   	<if test="null!=dayPaylmtAmt and ''!=dayPaylmtAmt">
			    AND day_paylmt_amt = #{dayPaylmtAmt}
			</if>
		   	<if test="null!=dayPaylmtCnt and ''!=dayPaylmtCnt">
			    AND day_paylmt_cnt = #{dayPaylmtCnt}
			</if>
		   	<if test="null!=monInlmtAmt and ''!=monInlmtAmt">
			    AND mon_inlmt_amt = #{monInlmtAmt}
			</if>
		   	<if test="null!=monInlmtCnt and ''!=monInlmtCnt">
			    AND mon_inlmt_cnt = #{monInlmtCnt}
			</if>
		   	<if test="null!=monPaylmtAmt and ''!=monPaylmtAmt">
			    AND mon_paylmt_amt = #{monPaylmtAmt}
			</if>
		   	<if test="null!=monPaylmtCnt and ''!=monPaylmtCnt">
			    AND mon_paylmt_cnt = #{monPaylmtCnt}
			</if>
		   	<if test="null!=dayNopswdlmtAmt and ''!=dayNopswdlmtAmt">
			    AND day_nopswdlmt_amt = #{dayNopswdlmtAmt}
			</if>
		   	<if test="null!=dayNopswdlmtCnt and ''!=dayNopswdlmtCnt">
			    AND day_nopswdlmt_cnt = #{dayNopswdlmtCnt}
			</if>
		   	<if test="null!=openDateBegin and ''!=openDateBegin">
		   		AND open_date >= #{openDateBegin}
		   	</if>
		   	<if test="null!=openDateEnd and ''!=openDateEnd">
		   		AND open_date &lt; #{openDateEnd}
		   	</if>
		   	<if test="null!=closeDateBegin and ''!=closeDateBegin">
		   		AND close_date >= #{closeDateBegin}
		   	</if>
		   	<if test="null!=closeDateEnd and ''!=closeDateEnd">
		   		AND close_date &lt; #{closeDateEnd}
		   	</if>
		   	<if test="null!=status and ''!=status">
			    AND status = #{status}
			</if>
		   	<if test="null!=version and ''!=version">
			    AND version = #{version}
			</if>
	    </where>
	</sql>
	 
    <select id="findPageCount" resultType="long">
        SELECT count(*) FROM acc_pac <include refid="findWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 #offset#,#pageSize#,#lastRows# 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="BaseResultMap">
    	SELECT <include refid="Base_Column_List"/> FROM acc_pac 
		<include refid="findWhere"/>
		<if test="null!=sortColumns and ''!=sortColumns">
			ORDER BY ${sortColumns}
		</if>
    </select>

    <select id="getByPacId" resultMap="BaseResultMap" >
	    SELECT <include refid="Base_Column_List"/>
	    <![CDATA[
	        FROM acc_pac WHERE pac_id = #pacId#
	    ]]>
    </select>
    <update id="update" >
    <![CDATA[
        UPDATE acc_pac SET
	        owner = #{owner, jdbcType=VARCHAR} ,
	        owner_group = #{ownerGroup, jdbcType=VARCHAR} ,
	        create_time = #{createTime, jdbcType=TIMESTAMP} ,
	        last_update_time = #{lastUpdateTime, jdbcType=TIMESTAMP} ,
	        pac_id = #{pacId, jdbcType=VARCHAR} ,
	        acc_prod_id = #{accProdId, jdbcType=BIGINT} ,
	        prod_id = #{prodId, jdbcType=VARCHAR} ,
	        cust_type = #{custType, jdbcType=BIT} ,
	        day_in_amt = #{dayInAmt, jdbcType=DECIMAL} ,
	        day_in_cnt = #{dayInCnt, jdbcType=INTEGER} ,
	        day_pay_amt = #{dayPayAmt, jdbcType=DECIMAL} ,
	        day_pay_cnt = #{dayPayCnt, jdbcType=INTEGER} ,
	        mon_in_amt = #{monInAmt, jdbcType=DECIMAL} ,
	        mon_in_cnt = #{monInCnt, jdbcType=INTEGER} ,
	        mon_pay_amt = #{monPayAmt, jdbcType=DECIMAL} ,
	        mon_pay_cnt = #{monPayCnt, jdbcType=INTEGER} ,
	        day_nopswd_amt = #{dayNopswdAmt, jdbcType=DECIMAL} ,
	        day_nopswd_cnt = #{dayNopswdCnt, jdbcType=INTEGER} ,
	        day_inlmt_amt = #{dayInlmtAmt, jdbcType=DECIMAL} ,
	        day_inlmt_cnt = #{dayInlmtCnt, jdbcType=INTEGER} ,
	        day_paylmt_amt = #{dayPaylmtAmt, jdbcType=DECIMAL} ,
	        day_paylmt_cnt = #{dayPaylmtCnt, jdbcType=INTEGER} ,
	        mon_inlmt_amt = #{monInlmtAmt, jdbcType=DECIMAL} ,
	        mon_inlmt_cnt = #{monInlmtCnt, jdbcType=INTEGER} ,
	        mon_paylmt_amt = #{monPaylmtAmt, jdbcType=DECIMAL} ,
	        mon_paylmt_cnt = #{monPaylmtCnt, jdbcType=INTEGER} ,
	        day_nopswdlmt_amt = #{dayNopswdlmtAmt, jdbcType=DECIMAL} ,
	        day_nopswdlmt_cnt = #{dayNopswdlmtCnt, jdbcType=INTEGER} ,
	        open_date = #{openDate, jdbcType=DATE} ,
	        close_date = #{closeDate, jdbcType=DATE} ,
	        status = #{status, jdbcType=BIT} ,
	        version = #{version, jdbcType=INTEGER} 
        WHERE 
	        id = #{id} 
    ]]>
    </update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM acc_pac WHERE
        id = #{id} 
    ]]>
    </delete>
</mapper>