<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AccRsakey">
	<resultMap id="BaseResultMap" type="com.yinker.user.core.po.AccRsakey">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="mchid" property="mchid" jdbcType="BIGINT" />
		<result column="rsapukey" property="rsapukey" jdbcType="VARCHAR" />
		<result column="rsaprkey" property="rsaprkey" jdbcType="VARCHAR" />
		<result column="lastupdatetime" property="lastupdatetime"
			jdbcType="TIMESTAMP" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="owner" property="owner" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, mchid, rsapukey, rsaprkey, lastupdatetime, createtime, owner
	</sql>
	
	<!-- 基础方法Start -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into acc_rsakey (id, mchid, rsapukey,
		rsaprkey, lastupdatetime, createtime,
		owner)
		values (#{id,jdbcType=BIGINT}, #{mchid,jdbcType=BIGINT},
		#{rsapukey,jdbcType=VARCHAR},
		#{rsaprkey,jdbcType=VARCHAR}, #{lastupdatetime,jdbcType=TIMESTAMP},
		#{createtime,jdbcType=TIMESTAMP},
		#{owner,jdbcType=VARCHAR})
	</insert>
	<insert id="insertBatch"   parameterType="java.util.List">
      INSERT INTO acc_rsakey ( <include refid="Base_Column_List"/>) values
        <foreach collection="list" item="item" separator="," >
    (
        	#{item.id, jdbcType=BIGINT} ,
        	#{item.mchid, jdbcType=BIGINT} ,
        	#{item.rsapukey, jdbcType=VARCHAR} ,
        	#{item.rsaprkey, jdbcType=VARCHAR} ,
        	#{item.lastupdatetime, jdbcType=TIMESTAMP} ,
        	#{item.createtime, jdbcType=TIMESTAMP} ,
        	#{item.owner, jdbcType=VARCHAR} 
    )
        </foreach>
    </insert>

    <update id="update" >
    <![CDATA[
        UPDATE acc_rsakey SET
	        mchid = #{mchid, jdbcType=BIGINT} ,
	        rsapukey = #{rsapukey, jdbcType=VARCHAR} ,
	        rsaprkey = #{rsaprkey, jdbcType=VARCHAR} ,
	        lastupdatetime = #{lastupdatetime, jdbcType=TIMESTAMP} ,
	        createtime = #{createtime, jdbcType=TIMESTAMP} ,
	        owner = #{owner, jdbcType=VARCHAR} 
        WHERE 
	        id = #{id} 
    ]]>
    </update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM acc_rsakey WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="BaseResultMap">
	    SELECT <include refid="Base_Column_List"/>
	    <![CDATA[
	        FROM acc_rsakey 
	        WHERE 
		        id = #{id} 
	    ]]>
    </select>

	<sql id="findWhere">
	    <where>
	    	<choose>
	    		<when test="queryType==0">
			       	<if test="null!=rsapukey and ''!=rsapukey ">
	   			 		AND rsapukey = #{rsapukey}
	   			   	</if>
			       	<if test="null!=rsaprkey and ''!=rsaprkey ">
	   			 		AND rsaprkey = #{rsaprkey}
	   			   	</if>
			       	<if test="null!=owner and ''!=owner ">
	   			 		AND owner = #{owner}
	   			   	</if>
	       		</when>
	       		<otherwise>
				    <if test="null!=rsapukey and ''!=rsapukey">
				    <!-- 	AND rsapukey LIKE '%'||#{rsapukey}||'%' oracle -->
			   			AND rsapukey LIKE concat('%',#{rsapukey},'%')
			   			
			   		</if>
				    <if test="null!=rsaprkey and ''!=rsaprkey">
				    <!-- 	AND rsaprkey LIKE '%'||#{rsaprkey}||'%' oracle -->
			   			AND rsaprkey LIKE concat('%',#{rsaprkey},'%')
			   			
			   		</if>
				    <if test="null!=owner and ''!=owner">
				    <!-- 	AND owner LIKE '%'||#{owner}||'%' oracle -->
			   			AND owner LIKE concat('%',#{owner},'%')
			   			
			   		</if>
		        </otherwise>
	      	</choose>
		   	<if test="null!=id and ''!=id">
			    AND id = #{id}
			</if>
		   	<if test="null!=mchid and ''!=mchid">
			    AND mchid = #{mchid}
			</if>
		   	<if test="null!=lastupdatetimeBegin and ''!=lastupdatetimeBegin">
		   		AND lastupdatetime >= #{lastupdatetimeBegin}
		   	</if>
		   	<if test="null!=lastupdatetimeEnd and ''!=lastupdatetimeEnd">
		   		AND lastupdatetime &lt; #{lastupdatetimeEnd}
		   	</if>
		   	<if test="null!=createtimeBegin and ''!=createtimeBegin">
		   		AND createtime >= #{createtimeBegin}
		   	</if>
		   	<if test="null!=createtimeEnd and ''!=createtimeEnd">
		   		AND createtime &lt; #{createtimeEnd}
		   	</if>
	    </where>
	</sql>
	 
    <select id="findPageCount" resultType="long">
        SELECT count(*) FROM acc_rsakey <include refid="findWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 #offset#,#pageSize#,#lastRows# 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="BaseResultMap">
    	SELECT <include refid="Base_Column_List"/> FROM acc_rsakey 
		<include refid="findWhere"/>
		<if test="null!=sortColumns and ''!=sortColumns">
			ORDER BY ${sortColumns}
		</if>
    </select>
	<select id="find" resultMap="BaseResultMap">
	    SELECT <include refid="Base_Column_List"/> FROM acc_rsakey 
		<include refid="findWhere"/>
		<if test="null!=sortColumns">
			ORDER BY ${sortColumns}
		</if>
    </select>
    <!-- 基础方法End -->
    
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from acc_rsakey
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from acc_rsakey
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insertSelective" parameterType="com.yinker.user.core.po.AccRsakey">
		insert into acc_rsakey
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="mchid != null">
				mchid,
			</if>
			<if test="rsapukey != null">
				rsapukey,
			</if>
			<if test="rsaprkey != null">
				rsaprkey,
			</if>
			<if test="lastupdatetime != null">
				lastupdatetime,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
			<if test="owner != null">
				owner,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="mchid != null">
				#{mchid,jdbcType=BIGINT},
			</if>
			<if test="rsapukey != null">
				#{rsapukey,jdbcType=VARCHAR},
			</if>
			<if test="rsaprkey != null">
				#{rsaprkey,jdbcType=VARCHAR},
			</if>
			<if test="lastupdatetime != null">
				#{lastupdatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="owner != null">
				#{owner,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yinker.user.core.po.AccRsakey">
		update acc_rsakey
		<set>
			<if test="mchid != null">
				mchid = #{mchid,jdbcType=BIGINT},
			</if>
			<if test="rsapukey != null">
				rsapukey = #{rsapukey,jdbcType=VARCHAR},
			</if>
			<if test="rsaprkey != null">
				rsaprkey = #{rsaprkey,jdbcType=VARCHAR},
			</if>
			<if test="lastupdatetime != null">
				lastupdatetime = #{lastupdatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="owner != null">
				owner = #{owner,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yinker.user.core.po.AccRsakey">
		update acc_rsakey
		set mchid = #{mchid,jdbcType=BIGINT},
		rsapukey = #{rsapukey,jdbcType=VARCHAR},
		rsaprkey = #{rsaprkey,jdbcType=VARCHAR},
		lastupdatetime = #{lastupdatetime,jdbcType=TIMESTAMP},
		createtime = #{createtime,jdbcType=TIMESTAMP},
		owner = #{owner,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<sql id="dynamicPageWhere">
		<where>
			1=1
			<if test="accRsaKeyVO.id != null and accRsaKeyVO.id != ''">
				AND id = #{accRsaKeyVO.id,jdbcType=BIGINT}
			</if>
			<if test="accRsaKeyVO.mchid != null and accRsaKeyVO.mchid !='' ">
				AND mchid = #{accRsaKeyVO.mchid,jdbcType=BIGINT}
			</if>
			<if test="accRsaKeyVO.rsapukey != null and accRsaKeyVO.rsapukey !=''">
				AND rsapukey = #{accRsaKeyVO.rsapukey,jdbcType=VARCHAR}
			</if>
			<if test="accRsaKeyVO.rsaprkey != null and accRsaKeyVO.rsaprkey!=''">
				AND rsaprkey = #{accRsaKeyVO.rsaprkey,jdbcType=VARCHAR}
			</if>
			<if test="accRsaKeyVO.lastupdatetime != null and accRsaKeyVO.lastupdatetime!=''">
				AND lastupdatetime = #{accRsaKeyVO.lastupdatetime,jdbcType=TIMESTAMP}
			</if>
			<if test="accRsaKeyVO.createtime != null and accRsaKeyVO.createtime!=''" >
				AND createtime = #{accRsaKeyVO.createtime,jdbcType=TIMESTAMP}
			</if>
			<if test="accRsaKeyVO.owner != null and accRsaKeyVO.owner !=''">
				AND owner = #{accRsaKeyVO.owner,jdbcType=VARCHAR}
			</if>
		</where>
	</sql>
	<!-- 查询商户密钥信息（有分页查询） -->
	<select id="findListPage" resultMap="BaseResultMap">
		<choose>
			<when test="pageVO.totalPage&lt;0">
				<include refid="baseDynamicQuery" />
			</when>
			<otherwise>
				SELECT
				<include refid="Base_Column_List" />
				FROM acc_rsakey
				<include refid="dynamicPageWhere" />
				<include refid="liqDateWhere" />
				<if test="pageVO.orderBy==null or pageVO.orderBy==''">
					order by createtime desc
				</if>
				<if test="pageVO.orderBy!=null and pageVO.orderBy!=''">
					order by ${pageVO.orderBy}
				</if>
				LIMIT #{pageVO.start, jdbcType=INTEGER},#{pageVO.pageSize,
				jdbcType=INTEGER}
			</otherwise>
		</choose>
	</select>
	<sql id="baseDynamicQuery">
		select
		<include refid="Base_Column_List" />
		from acc_rsakey
		<include refid="dynamicPageWhere" />
		<include refid="liqDateWhere" />
		<if test="pageVO.orderBy==null or pageVO.orderBy==''">
			order by create_time desc
		</if>
		<if test="pageVO.orderBy!=null and pageVO.orderBy!=''">
			order by ${pageVO.orderBy}
		</if>
	</sql>
	<!-- 分页查询记录总记录数 -->
	<select id="findListPageCount" resultType="int">
		SELECT
		count(1)
		FROM acc_rsakey
		<include refid="dynamicPageWhere" />
		<include refid="liqDateWhere" />
	</select>
	<sql id="liqDateWhere">
		<if test="accRsaKeyVO.begLiqDate !=null and accRsaKeyVO.begLiqDate !=''">
			<![CDATA[ and createtime >= #{accRsaKeyVO.begLiqDate, jdbcType=VARCHAR}]]>
		</if>
		<if test="accRsaKeyVO.endLiqDate !=null and accRsaKeyVO.endLiqDate !=''">
			<![CDATA[ and DATE_FORMAT(createtime,'%Y-%m-%d') <= #{accRsaKeyVO.endLiqDate, jdbcType=VARCHAR}]]>
		</if>
	</sql>
	
	
	<select id="selectByMchId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from acc_rsakey
		where mchid = #{mchId,jdbcType=BIGINT}
	</select>
</mapper>