<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd  
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 使用工厂创建morphia实例，同时完成类映射操作 -->
	<bean id="morphia" class="com.yinker.persistence.mongo.ext.MorphiaFactoryBean">
		<!-- 指定要扫描的POJO包路径 -->
		<property name="mapPackages">
			<array>
				<value>com.ink.user.core.po.mongo</value>
			</array>
		</property>
	</bean>

</beans>